{
  "openapi": "3.0.0",
  "info": {
    "title": "Lead Market API",
    "version": "1.0",
    "x-logo": {
      "url": "https://rmeredithcs.github.io/lead-market-v1-api/lead_market_logo.png"
    },
    "description": "The Lead Market API allows you to:\n- Create and update leads to sell via Lead Market.\n- Manage blacklists to avoid buying specific leads.\n- Provide progress updates and outcomes for purchased leads.\n- Retrieve the status or details of a lead.\n- Request delivery of the Credit Sense report for a bought lead.\n- Update the reference for a lead's Credit Sense application.\n\n### About these API docs\nThese API docs are provided in OpenAPI Specification (OAS) format for your reference. Use the `Download` button atop this page to download these API docs as an OAS 3-compliant JSON document that you can import into the API client of your choice (e.g. [Postman](https://www.postman.com/), [Insomnia](https://insomnia.rest/), [Swagger Inspector](https://inspector.swagger.io/builder)).\n\nYou can also click one of the buttons below to import the API spec into an API client you have installed.\n\n[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/da63c952ac2450a1701c)\n[![Run in Insomnia}](https://insomnia.rest/images/run.svg)](https://insomnia.rest/run/?label=Lead%20Market%20API&uri=https%3A%2F%2Frmeredithcs.github.io%2Flead-market-v1-api%2FLead-Market-API.v1.json)\n\nClick the chevrons next to object names and response codes to expand out the request and response schemas.\n![alt text](https://rmeredithcs.github.io/lead-market-v1-api/API_docs_guide.gif \"API docs guide screen recording\")\n\n### Request URL\nThe request URL is built using multiple components - `{protocol}` `{base-url}` `{version}` `{api-key}` `{endpoint}`\n1. All calls to the API must be made using the TLS **protocol** - `https://`\n2. The **base URL** is always [api.leadmarketonline.com](api.leadmarketonline.com) - `https://api.leadmarketonline.com`\n3. The current **version** is v1 - `https://api.leadmarketonline.com/v1`\n4. The **API key** will be unique to your environment - `https://api.leadmarketonline.com/v1/xxx-xxx-xxx`\n5. The **endpont** will be determined by what you're trying to do - `https://api.leadmarketonline.com/v1/xxx-xxx-xxx/exampleEndpoint`\n\n### Authentication\nEach call to the API requires:\n- **API key** - identifies your account; forms part of the request URL.\n- **API token** - identifies your access to the API; included in the `Settings` object in your request body.\n\nIf you don't have your API credentials or you'd like them to be changed, please [contact us](mailto:support@leadmarketonline.com).\n\n### Rate Limiting *****IS THIS A THING ON LEAD MARKET?*****\nThe API is rate limited at one API call per second, with the ability to handle a burst of up to 20 API calls depending on the amount of API credits available.\n\n#### How do API credits work?\n- Every API call uses an API credit. \n- Your account receives one API credit every one second and can accrue a maximum of 20 credits at any time.\n- When your API credits run out the API will return a '429 - Too Many Requests' status code, indicating that you will need to retry your API call after waiting for your API credit balance to increase.",
    "contact": {
      "name": "Lead Market Support",
      "url": "https://leadmarketonline.com/contact",
      "email": "support@leadmarketonline.com"
    }
  },
  "servers": [
    {
      "url": "https://api.leadmarketonline.com/v1/{api-key}",
      "description": "Lead Market API",
      "variables": {
        "api-key": {
          "default": "your-api-key-goes-here",
          "description": "The unique key that identifies your account."
        }
      }
    }
  ],
  "paths": {
    "/application/single": {
      "post": {
        "summary": "Add a lead",
        "operationId": "post-application-single",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Warnings": {
                      "type": "array",
                      "description": "A list of warnings. e.g. features that are soon to be deprecated or features that are not yet supported by the API.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "Success": {
                      "type": "boolean",
                      "description": "Denotes whether the lead was successfully created.",
                      "default": "True"
                    },
                    "Data": {
                      "type": [
                        "integer",
                        "object"
                      ],
                      "description": "The Lead ID as an integer or an object containing the Lead ID and Lead Token.",
                      "properties": {
                        "Lead_ID": {
                          "type": "integer",
                          "example": 6605347,
                          "description": "Uniquely identifies the lead across Lead Market."
                        },
                        "Lead_Token": {
                          "type": "string",
                          "example": "zh9DSv",
                          "description": "Uniquely identifies the lead across Lead Market for the Seller."
                        }
                      }
                    }
                  },
                  "required": [
                    "Warnings",
                    "Success",
                    "Data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Errors": {
                      "type": "array",
                      "description": "A list of errors.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "error_type": {
                            "type": "string",
                            "default": "unauthorized",
                            "description": "Denotes the type of error encountered."
                          },
                          "error_code": {
                            "type": "string",
                            "default": "401.1",
                            "description": "The code that identifies the error."
                          },
                          "error_message": {
                            "type": "string",
                            "default": "Invalid API key.",
                            "description": "Describes the error."
                          }
                        },
                        "required": [
                          "error_type",
                          "error_code",
                          "error_message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "Errors"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "701": {
            "description": "Authentication Error\n\nSchema validation errors indicate that the data you've provided is invalid XML or it doesn't conform to our Seller schema.\n\n### Example errors\n| Error message                                                                                                                        | Possible cause                                                                                                                           |\n|--------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------|\n| Fatal Error 4: Start tag expected, '<' not found                                                                                     | Missing '<' at beginning of document.                                                                                                    |\n| Error 1872: The document has no document element.                                                                                    | Missing root element. This may also show in various other situations, including if you do not escape xml reserved characters (like \"&\"). |\n| Error 1826: Element 'Application_Date': '2016-08-10b' is not a valid value of the union type 'L_Empty_Date'.                         | Date supplied is in incorrect format.                                                                                                    |\n| Error 1843: Element 'Application': Character content other than whitespace is not allowed because the content type is 'element-only' | Some text is not properly contained in an element.                                                                                       |\n| Fatal Error 76: Opening and ending tag mismatch: Lead line 1 and Seller_Data                                                         | A tag has not been correctly opened or closed.                                                                                           |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Warnings": {
                      "type": "array",
                      "description": "A list of warnings. e.g. features that are soon to be deprecated or features that are not yet supported by the API.",
                      "items": {
                        "type": "string",
                        "example": "ERROR(s) VERIFYING XML AGAINST SCHEMA:"
                      }
                    },
                    "Success": {
                      "type": "boolean",
                      "default": "false",
                      "description": "Denotes whether the lead was successfully created."
                    },
                    "Error": {
                      "type": [
                        "string",
                        "array"
                      ],
                      "description": "A single error or a list of errors.",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "Warnings",
                    "Success",
                    "Error"
                  ]
                }
              }
            }
          },
          "702": {
            "description": "Authentication Error\nAuthenciation errors \n\n### Example errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Warnings": {
                      "type": "array",
                      "description": "A list of warnings. e.g. features that are soon to be deprecated or features that are not yet supported by the API.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "Success": {
                      "type": "boolean",
                      "default": "false",
                      "description": "Denotes whether the lead was successfully created."
                    },
                    "Error": {
                      "type": [
                        "string",
                        "array"
                      ],
                      "example": "Invalid API_Token",
                      "description": "A single error or a list of errors.",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "Warnings",
                    "Success",
                    "Error"
                  ]
                }
              }
            }
          },
          "703": {
            "description": "Data Error"
          },
          "704": {
            "description": "Authentication Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Warnings": {
                      "type": "array",
                      "description": "A list of warnings. e.g. features that are soon to be deprecated or features that are not yet supported by the API.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "Success": {
                      "type": "boolean",
                      "default": "false",
                      "description": "Denotes whether the lead was successfully created."
                    },
                    "Error": {
                      "type": "string",
                      "example": "The API credentials you have provided are testing credentials and you haven't provided a valid Test_Sale_Outcome. When using test credentials you must include the Test_Sale_Outcome parameter",
                      "description": "A single error."
                    }
                  },
                  "required": [
                    "Warnings",
                    "Success",
                    "Error"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Applications"
        ],
        "description": "Retrieve reports in the requested formats for a specified application.\n\nReasons to use this endpoint:\n- Create a disengaged lead and push it into the market for sale.\n- Pass in lead details for an engaged lead that will be retrieved when the lead is pushed into the market.",
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X POST \"https://api.leadmarketonline.com/v1/{api-key}/application/single\" -H \"accept: application/json\" -H \"Content-Type: multipart/form-data\" -F \"Settings={ \"API_Token\" : \"{api-token}\", \"Test_Sale_Outcome\" : 1 }\" -F \"Payload=<?xml version=\"1.0\" encoding=\"utf-8\"?> <Lead> <Seller_Data> <Client_Authority>true</Client_Authority> <Customer_Authority>true</Customer_Authority> <Customer_Authority_Type>Explicit</Customer_Authority_Type> <!--<Credit_Authority_Enquiry_Number>12345</Credit_Authority_Enquiry_Number>--> <CS_App_ID>100</CS_App_ID> <!-- <Lead_ID></Lead_ID>--> </Seller_Data> <Application> <Application_Date>2016-08-10</Application_Date> <Interest_Rate>200</Interest_Rate> <Repayment_Amount>200</Repayment_Amount> <Fees>200</Fees> <Type>Part Time</Type> <Amount>20000</Amount> <Reason>Blergh</Reason> <Repayment_Cycle>weekly</Repayment_Cycle> <Repayment_Count>200</Repayment_Count> <Description></Description> </Application> <Applicant> <Applicant_Type>Primary</Applicant_Type> <Person_Applicant> <Title>Mr</Title> <Date_Of_Birth>1980-01-01</Date_Of_Birth> <Last_Name>Ward</Last_Name> <First_Name>Fredrick</First_Name> <Gender>M</Gender> <Dependents>2</Dependents> <Marital_Status></Marital_Status> <Contact_Methods> <Contact_Method> <Contact_Other> <Contact_Type>MOB</Contact_Type> <Contact_Value>+642108190012</Contact_Value> </Contact_Other> </Contact_Method> <Contact_Method> <Contact_Other> <Contact_Type>EMAIL</Contact_Type> <Contact_Value>test@example.com</Contact_Value> </Contact_Other> </Contact_Method> <Contact_Method> <Address> <Address_Line_1>5 Eagle Street</Address_Line_1> <Address_Line_2></Address_Line_2> <Suburb>Brisbane CBD</Suburb> <State>QLD</State> <Residential_Type>false</Residential_Type> <Residential_Status>1</Residential_Status> <Time_At_Address_Months>25</Time_At_Address_Months> </Address> </Contact_Method> </Contact_Methods> </Person_Applicant> <References> <Reference> <Relationship_Type>Previous Employer</Relationship_Type> <Known_Applicant_Years>25</Known_Applicant_Years> <Person_Other> <Title>Mr</Title> <Date_Of_Birth>1980-01-01</Date_Of_Birth> <Last_Name>Smith</Last_Name> <First_Name>Harry</First_Name> <Gender>M</Gender> <Contact_Methods> <Contact_Method> <Contact_Other> <Contact_Type>MOB</Contact_Type> <Contact_Value>0423547987</Contact_Value> </Contact_Other> </Contact_Method> <Contact_Method> <Contact_Other> <Contact_Type>EMAIL</Contact_Type> <Contact_Value>test@example.com</Contact_Value> </Contact_Other> </Contact_Method> <Contact_Method> <Address> <Address_Line_1>19 Queen Street</Address_Line_1> <Address_Line_2></Address_Line_2> <Suburb>Brisbane CBD</Suburb> <State>QLD</State> <Postcode>4171</Postcode> <Is_Current>false</Is_Current> <Residential_Type>false</Residential_Type> <Residential_Status>1</Residential_Status> <Time_At_Address_Months>25</Time_At_Address_Months> </Address> </Contact_Method> </Contact_Methods> </Person_Other> </Reference> </References> <Financials> <Financial> <Detailed_Income> <Source>Thinger</Source> <Type>Good</Type> <Frequency>weekly</Frequency> <Description>Self Employed</Description> <Net_Amount>4500</Net_Amount> <Gross_Amount>4500</Gross_Amount> <Is_Current>true</Is_Current> </Detailed_Income> </Financial> <Financial> <Detailed_Liability> <Type>Personal Loan</Type> <Frequency>monthly</Frequency> <Frequency_Amount>100</Frequency_Amount> <Balance>1000</Balance> <Start_Date>2015-07-25</Start_Date> <Estimated_End_Date>2017-03-01</Estimated_End_Date> <Description>true</Description> </Detailed_Liability> </Financial> <Financial> <Summary_Income> <Net_Amount>1000</Net_Amount> <Gross_Amount>1200</Gross_Amount> <Frequency>weekly</Frequency> </Summary_Income> </Financial> <Financial> <Summary_Liability> <Amount>1000</Amount> <Frequency>Part Time</Frequency> </Summary_Liability> </Financial> </Financials> <Bank_Accounts> <Bank_Account> <Account_Number>123456789</Account_Number> <Account_Name>mytest</Account_Name> <Bank_Name></Bank_Name> <Account_Type>1</Account_Type> <BSB>011234</BSB> <Balance>0</Balance> <Age_Of_Account>3</Age_Of_Account> </Bank_Account> </Bank_Accounts> <Employment_History> <Employment> <Is_Current>false</Is_Current> <Employment_Type>unemployed</Employment_Type> <Occupation>unemployed</Occupation> <Working_Hours_Weekly>40</Working_Hours_Weekly> <Organisation_Name>unemployed</Organisation_Name> <Start_Date>2016-05-20</Start_Date> <Employment_Contacts> <Person_Other> <Title>Mr</Title> <Date_Of_Birth>1980-01-01</Date_Of_Birth> <Last_Name>Johnson</Last_Name> <First_Name>James</First_Name> <Gender>M</Gender> <Contact_Methods> <Contact_Method> <Contact_Other> <Contact_Type>MOB</Contact_Type> <Contact_Value>047412589</Contact_Value> </Contact_Other> </Contact_Method> <Contact_Method> <Address> <Address_Line_1>32 Albert Street</Address_Line_1> <Address_Line_2></Address_Line_2> <Suburb>Brisbane CBD</Suburb> <State>QLD</State> <Postcode>4000</Postcode> <Is_Current>true</Is_Current> <Residential_Type>false</Residential_Type> <Residential_Status>1</Residential_Status> <Time_At_Address_Months>25</Time_At_Address_Months> </Address> </Contact_Method> </Contact_Methods> </Person_Other> </Employment_Contacts> <Contact_Methods> <Contact_Method> <Contact_Other> <Contact_Type>Landline</Contact_Type> <Contact_Value>0726155948</Contact_Value> </Contact_Other> </Contact_Method> <Contact_Method> <Address> <Address_Line_1>21 Elizabeth Street</Address_Line_1> <Address_Line_2></Address_Line_2> <Suburb>Brisbane CBD</Suburb> <State>QLD</State> <Postcode>4000</Postcode> <Is_Current>true</Is_Current> </Address> </Contact_Method> </Contact_Methods> </Employment> <Employment> <Is_Current>false</Is_Current> <Employment_Type>Full Time</Employment_Type> <Occupation>Accountant</Occupation> <Working_Hours_Weekly>40</Working_Hours_Weekly> <Organisation_Name>We're Accountants</Organisation_Name> <Start_Date>2015-08-10</Start_Date> <End_Date>2016-05-10</End_Date> <Employment_Contacts> <Person_Other> <Title>Mr</Title> <Date_Of_Birth>1980-01-01</Date_Of_Birth> <Last_Name>Smith</Last_Name> <First_Name>Harry</First_Name> <Gender>M</Gender> <Contact_Methods> <Contact_Method> <Contact_Other> <Contact_Type>MOB</Contact_Type> <Contact_Value>0423547987</Contact_Value> </Contact_Other> </Contact_Method> <Contact_Method> <Address> <Address_Line_1>19 Queen Street</Address_Line_1> <Address_Line_2></Address_Line_2> <Suburb>Brisbane CBD</Suburb> <State>QLD</State> <Postcode>4000</Postcode> <Is_Current>true</Is_Current> <Residential_Type>false</Residential_Type> <Residential_Status>1</Residential_Status> <Time_At_Address_Months>25</Time_At_Address_Months> </Address> </Contact_Method> </Contact_Methods> </Person_Other> </Employment_Contacts> <Contact_Methods> <Contact_Method> <Contact_Other> <Contact_Type>Landline</Contact_Type> <Contact_Value>0726155948</Contact_Value> </Contact_Other> </Contact_Method> <Contact_Method> <Address> <Address_Line_1>5 Market Street</Address_Line_1> <Address_Line_2></Address_Line_2> <Suburb>Brisbane CBD</Suburb> <State>QLD</State> <Postcode>4000</Postcode> <Is_Current>true</Is_Current> </Address> </Contact_Method> </Contact_Methods> </Employment> </Employment_History> <Proof_Of_Identity> <Identification> <Type>Drivers License</Type> <Document_ID>091153487</Document_ID> <Issuer>QLD Government</Issuer> <Date_Expiry>2019-07-22</Date_Expiry> <Date_Issue>2015-07-21</Date_Issue> <File_Name>ward-fredrick-driverslicense.png</File_Name> <Is_Current>true</Is_Current> </Identification> </Proof_Of_Identity> </Applicant> </Lead>\""
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "Settings": {
                    "type": "object",
                    "required": [
                      "API_Token"
                    ],
                    "properties": {
                      "API_Token": {
                        "type": "string",
                        "description": "The unique token that identifies your API access privileges.",
                        "example": "daf90138-569f-4488-9f3b-099a58ac4130"
                      },
                      "Test_Sale_Outcome": {
                        "type": "integer",
                        "description": "The test sale outcome code you specify will determine the sale outcome to be returned. This is used for testing purposes only.",
                        "enum": [
                          1,
                          2,
                          3,
                          4
                        ]
                      },
                      "Client_ID": {
                        "type": "integer",
                        "description": "When provided, overrides the default Lead Market org unit attached to the API profile and creates the lead against the specified org unit.",
                        "example": 501
                      }
                    }
                  },
                  "Payload": {
                    "type": "string",
                    "example": "<?xml version=\"1.0\" encoding=\"utf-8\"?> <Lead>     <Seller_Data>         <Client_Authority>true</Client_Authority>         <Customer_Authority>true</Customer_Authority>         <Customer_Authority_Type>Explicit</Customer_Authority_Type>         <CS_App_ID>1577794</CS_App_ID>         <Use_MLM_Flow>true</Use_MLM_Flow>         <Lead_Reference>MyExampleRef0001</Lead_Reference>     </Seller_Data>     <Application>         <Application_Date>2016-08-10</Application_Date>         <Amount>200</Amount>         <Reason>Other – Test</Reason>     </Application>     <Applicant>         <Applicant_Type>Primary</Applicant_Type>         <Person_Applicant>             <Title>Mr</Title>             <Date_Of_Birth>1980-01-01</Date_Of_Birth>             <Last_Name>Ward</Last_Name>             <First_Name>Fredrick</First_Name>             <Marital_Status></Marital_Status>             <Contact_Methods>                 <Contact_Method>                     <Contact_Other>                         <Contact_Type>MOB</Contact_Type>                         <Contact_Value>0412341234</Contact_Value>                     </Contact_Other>                 </Contact_Method>             </Contact_Methods>         </Person_Applicant>     </Applicant> </Lead>",
                    "description": "Contains the details of the lead in XML format in accordance with our Seller schema."
                  }
                },
                "required": [
                  "Settings",
                  "Payload"
                ]
              }
            }
          },
          "description": "### Testing sale outcomes\nPass a test sale outcome from the below table into `$.Settings.Test_Sale_Outcome` to simulate having a lead sell or fail to sell.\nProviding a test sale outcome is required if using API credentials linked to a test environment and an error will be returned if it is omitted.\nProviding a test sale outcome is not permitted if using API credentials linked to a production environment and an error will be returned if it is included.\nAny errors encountered processing your request will override your specified test sale outcome - i.e. you must provide valid data in order to test sale outcomes.\n\n| Code | Name         | Description                                                                                                                                                                                                                                                                  |\n|------|--------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| 1    | Make sale    | Results in the lead being sold and sold lead notifications will trigger. Use this outcome to how your system handles sold leads.                                                                                                                                             |\n| 2    | No Buyer     | Results in the lead being returned due to no buyer and unsold lead notifications will trigger. Use this outcome to how your system handles unsold leads.                                                                                                                     |\n| 3    | Already Sold | Results in the lead being returned due to the lead already existing on the market and unsold lead notifications will trigger. Use this outcome to how your system handles unsold leads.                                                                                      |\n| 4    | Use Test Bid | Results in the first active bid campaign on the same test environment buying the lead. If there is no active bid campaign, the lead will result in a _No Buyer_ outcome. Use this outcome to automate the Seller process while testing how your system handles buying leads. |"
        },
        "parameters": []
      }
    }
  },
  "components": {
    "schemas": {}
  },
  "externalDocs": {
    "description": "Help docs",
    "url": "https://docs.creditsense.com.au"
  },
  "tags": [
    {
      "name": "Applications",
      "description": "Create and update leads, retrieve the status or details of a lead, or update the reference for a lead's Credit Sense application."
    },
    {
      "name": "Lists",
      "description": "Create and manage blacklisted leads."
    },
    {
      "name": "Bought lead outcomes",
      "description": "Provide progress updates and outcomes for purchased leads."
    },
    {
      "name": "Webhooks",
      "description": "Automatically receive reports as soon as they're generated.\n\nPlease refer to our [webhook help docs](https://docs.creditsense.com.au/display/CSI/Fully+integrated+webhook#space-menu-link-content)."
    }
  ]
}