{
  "openapi": "3.0.0",
  "info": {
    "title": "Lead Market API",
    "version": "1.0",
    "x-logo": {
      "url": "lead_market_logo.png"
    },
    "description": "The Lead Market API allows you to:\n- Create and update leads to sell via Lead Market.\n- Manage lists to avoid buying specific leads or target your buying to leads in specific areas.\n- Provide progress updates and outcomes for purchased leads.\n- Retrieve the status or details of a lead.\n- Request delivery of the Credit Sense report for a bought lead.\n- Update the reference for a lead's Credit Sense application.\n\n### About these API docs\nThese API docs are provided in OpenAPI Specification (OAS) format for your reference. Use the `Download` button atop this page to download these API docs as an OAS 3-compliant JSON document that you can import into the API client of your choice (e.g. [Postman](https://www.postman.com/), [Insomnia](https://insomnia.rest/), [Swagger Inspector](https://inspector.swagger.io/builder)).\n\n[![Run in Insomnia}](https://insomnia.rest/images/run.svg)](https://insomnia.rest/run/?label=Lead%20Market%20API&uri=https%3A%2F%2Fapi-docs.creditsense.com.au%2Flead-market%2Fv1%2FLead-Market-API.v1.json)\n\nClick the chevrons next to object names and response codes to expand out the request and response schemas.\n![alt text](/API_docs_guide.gif \"API docs guide screen recording\")\n\n### Request URL\nThe request URL is built using multiple components - `{protocol}` `{base-url}` `{version}` `{api-key}` `{endpoint}`\n1. All calls to the API must be made using the TLS **protocol** - `https://`\n2. The **base URL** is always [api.leadmarketonline.com](api.leadmarketonline.com) - `https://api.leadmarketonline.com`\n3. The current **version** is v1 - `https://api.leadmarketonline.com/v1`\n4. The **API key** will be unique to your environment - `https://api.leadmarketonline.com/v1/xxx-xxx-xxx`\n5. The **endpont** will be determined by what you're trying to do - `https://api.leadmarketonline.com/v1/xxx-xxx-xxx/exampleEndpoint`\n\n### Authentication\nEach call to the API requires:\n- **API key** - identifies your account; forms part of the request URL.\n- **API token** - identifies your access to the API; included in the `Settings` object in your request body.\n\nIf you don't have your API credentials or you'd like them to be changed, please [contact us](mailto:support@leadmarketonline.com).",
    "contact": {
      "name": "Lead Market Support",
      "url": "https://leadmarketonline.com/contact",
      "email": "support@leadmarketonline.com"
    }
  },
  "servers": [
    {
      "url": "https://api.leadmarketonline.com/v1/{api-key}",
      "description": "Lead Market API",
      "variables": {
        "api-key": {
          "default": "your-api-key-goes-here",
          "description": "The unique key that identifies your account."
        }
      }
    }
  ],
  "paths": {
    "/application/single": {
      "post": {
        "summary": "Add a lead",
        "operationId": "post-application-single",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Warnings": {
                      "type": "array",
                      "description": "A list of warnings. e.g. features that are soon to be deprecated or features that are not yet supported by the API.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "Success": {
                      "type": "boolean",
                      "description": "Denotes whether the lead was successfully created.",
                      "default": "true"
                    },
                    "Data": {
                      "type": "object",
                      "description": "The Lead ID as an integer or an object containing the Lead ID and Lead Token.",
                      "properties": {
                        "Lead_ID": {
                          "type": "integer",
                          "example": 6605347,
                          "description": "Uniquely identifies the lead across Lead Market."
                        },
                        "Lead_Token": {
                          "type": "string",
                          "example": "zh9DSv",
                          "description": "Uniquely identifies the lead across Lead Market for the Seller."
                        }
                      }
                    }
                  },
                  "required": [
                    "Warnings",
                    "Success",
                    "Data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Errors": {
                      "type": "array",
                      "description": "A list of errors.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "error_type": {
                            "type": "string",
                            "default": "unauthorized",
                            "description": "Denotes the type of error encountered."
                          },
                          "error_code": {
                            "type": "string",
                            "default": "401.1",
                            "description": "The code that identifies the error."
                          },
                          "error_message": {
                            "type": "string",
                            "default": "Invalid API key.",
                            "description": "Describes the error."
                          }
                        },
                        "required": [
                          "error_type",
                          "error_code",
                          "error_message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "Errors"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Leads",
          "Seller"
        ],
        "description": "### Overview\nAdd a lead to Lead Market.\n\nReasons to use this endpoint:\n- Create a disengaged lead and push it into the market for sale.\n- Pass in lead details for an engaged lead that will be retrieved when the lead is pushed into the market.\n\n### Seller data validation\nWe take what may be thought of as a _laissez faire_ approach to validation on lead data passed in by Sellers. This is not done to intentionally make Buyer integrations difficult. Rather, when a Seller is passing in details via the API it’s generally due to the lead not being engaged at the time. The stance we take on this is _it’s better to have some data that **may** be invalid, than no data_. A good example is when a lead provides a valid mobile number, but they enter it in the email address field of a Seller’s website. If the Seller's form doesn't validate the data and passes it through to Lead Market, we'll accept it. We’ll provide the raw values to the Buyer, and we’ll also provided validated contact details in the `$..V_Contact_Type` and `$..V_Contact_Value` fields. We've found this approach provides the best outcome and richer lead data sets for Buyers.\n\n### Non-compliant HTTP status codes\nWe have some non-compliant status codes that are returned in place of recognised HTTP status codes when specific errors occur.\n\n#### 701: Schema Validation Error\nSchema validation errors indicate that the data you've provided is invalid XML or it doesn't conform to our Seller schema.\n\n##### Example errors\n| Error message                                                                                                                        | Possible cause                                                                                                                           |\n|--------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------|\n| Fatal Error 4: Start tag expected, '<' not found                                                                                     | Missing '<' at beginning of document.                                                                                                    |\n| Error 1872: The document has no document element.                                                                                    | Missing root element. This may also show in various other situations, including if you do not escape xml reserved characters (like \"&\"). |\n| Error 1826: Element 'Application_Date': '2016-08-10b' is not a valid value of the union type 'L_Empty_Date'.                         | Date supplied is in incorrect format.                                                                                                    |\n| Error 1843: Element 'Application': Character content other than whitespace is not allowed because the content type is 'element-only' | Some text is not properly contained in an element.                                                                                       |\n| Fatal Error 76: Opening and ending tag mismatch: Lead line 1 and Seller_Data                                                         | A tag has not been correctly opened or closed.                                                                                           |\n\n#### 702: Authentication Error\nAuthentication errors errors indicate that you're not authorised to perform the requested actions.\n\n##### Example errors\n| Error message                                                                       | Possible cause                                                                                                        |\n|-------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------|\n| Invalid API_Token                                                                   | The API_Token you passed in doesn't match the API_Key you used in the url.                                            |\n| Invalid CS_App_ID for API_Token                                                     | CS_App_ID doesn't exist or doesn't belong to you.                                                                     |\n| Invalid Lead_ID for API_Token                                                       | Lead_ID doesn't exist or doesn't belong to you.                                                                       |\n| Invalid Buyer_Token for API_Token                                                   | The Buyer_Token provided does not correspond to any leads you have purchased.                                         |\n| Invalid CS_App_ID for Client_ID                                                     | If you use the optional Client_ID parameter in settings. CS_App_ID doesn't exist or doesn't belong to this Client_ID. |\n| Client_ID not valid for API_Token                                                   | The Client_ID supplied doesn't exist or doesn't belong to you.                                                        |\n| Your API Key has not been activated yet, please contact us to activate your API key | The API profile your provided credentials link to is inactive. Contact us to activate it.                             |\n\n#### 703: Data Error\nData errors indicate that there's a mismatch between multiple bits of data you've provided.\n\n##### Example errors\n| Error message                                                                                                                              | Possible cause                                                                                                                                                                             |\n|--------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| Lead_ID and CS_App_ID don't match                                                                                                          | If you have provided both Lead_ID and CS_App_ID, these two numbers don't match on our database.                                                                                            |\n| The Credit Sense application was completed more then 24 hours ago. For a lead to be sold the application must be completed within 24 hours | The CS_App_ID you have provided references a Credit Sense application that was completed more than 24 hours ago. For a lead to be sold, the application must be completed within 24 hours. |\n| The fields 'Lead_ID' and 'Buyer_Token' were both missing, please include one in your API call                                              | You have not provided either Lead_ID or Buyer_Token; one must be provided.                                                                                                                 |\n| The fields 'Lead_ID' and 'Buyer_Token' were both present, please include only one in your API call                                         | You have provided both Lead_ID and Buyer_Token; only one may be provided.                                                                                                                  |\n| Settings object key: 'App_Reference' has not been provided                                                                                 | The App_Reference parameter is missing from the API call.                                                                                                                                  |\n\n#### 704: Other Error\nOther errors indicate that there's a generic problem, not described above.\n\n| Error message                                                                                                                                                                                  | Possible cause                                                                              |\n|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------|\n| The API credentials you have provided are testing credentials and you haven't provided a valid Test_Sale_Outcome. When using test credentials you must include the Test_Sale_Outcome parameter | You're testing against a dev/test org unit and failed to pass in a valid test sale outcome. |",
        "x-codeSamples": [
          {
            "lang": "XML",
            "label": "Minimal example",
            "source": "<!-- This is a payload with minimal details for an example lead -->\n\n<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Lead>\n    <Seller_Data>\n        <Client_Authority>true</Client_Authority>\n        <Customer_Authority>true</Customer_Authority>\n        <Customer_Authority_Type>Explicit</Customer_Authority_Type>\n        <CS_App_ID>1577794</CS_App_ID>\n        <Use_MLM_Flow>true</Use_MLM_Flow>\n        <Lead_Reference>MyExampleRef0001</Lead_Reference>\n    </Seller_Data>\n    <Application>\n        <Application_Date>2016-08-10</Application_Date>\n        <Amount>200</Amount>\n        <Reason>Other – Test</Reason>\n    </Application>\n    <Applicant>\n        <Applicant_Type>Primary</Applicant_Type>\n        <Person_Applicant>\n            <Title>Mr</Title>\n            <Date_Of_Birth>1980-01-01</Date_Of_Birth>\n            <Last_Name>Ward</Last_Name>\n            <First_Name>Fredrick</First_Name>\n            <Marital_Status></Marital_Status>\n            <Contact_Methods>\n                <Contact_Method>\n                    <Contact_Other>\n                        <Contact_Type>MOB</Contact_Type>\n                        <Contact_Value>0412341234</Contact_Value>\n                    </Contact_Other>\n                </Contact_Method>\n            </Contact_Methods>\n        </Person_Applicant>\n    </Applicant>\n</Lead>"
          },
          {
            "lang": "XML",
            "label": "Detailed example",
            "source": "<!-- This is a payload for with rich details an example lead -->\n\n<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Lead>\n    <Seller_Data>\n        <Client_Authority>true</Client_Authority>\n        <Customer_Authority>true</Customer_Authority>\n        <Customer_Authority_Type>Explicit</Customer_Authority_Type>\n        <CS_App_ID>1577794</CS_App_ID>\n        <Use_MLM_Flow>true</Use_MLM_Flow>\n        <Lead_Reference>MyExampleRef0001</Lead_Reference>\n    </Seller_Data>\n    <Application>\n        <Application_Date>2016-08-10</Application_Date>\n        <Interest_Rate>200</Interest_Rate>\n        <Repayment_Amount>200</Repayment_Amount>\n        <Fees>200</Fees>\n        <Type>Part Time</Type>\n        <Amount>200</Amount>\n        <Reason>Other – Test</Reason>\n        <Repayment_Cycle>weekly</Repayment_Cycle>\n        <Repayment_Count>200</Repayment_Count>\n        <Description></Description>\n    </Application>\n    <Applicant>\n        <Applicant_Type>Primary</Applicant_Type>\n        <References>\n            <Reference>\n                <Relationship_Type>Previous Employer</Relationship_Type>\n                <Known_Applicant_Years>25</Known_Applicant_Years>\n                <Person_Other>\n                    <Title>Mr</Title>\n                    <Date_Of_Birth>1980-01-01</Date_Of_Birth>\n                    <Last_Name>Smith</Last_Name>\n                    <First_Name>Harry</First_Name>\n                    <Gender>M</Gender>\n                    <Contact_Methods>\n                        <Contact_Method>\n                            <Contact_Other>\n                                <Contact_Type>MOB</Contact_Type>\n                                <Contact_Value>0423547987</Contact_Value>\n                            </Contact_Other>\n                        </Contact_Method>\n                        <Contact_Method>\n                            <Address>\n                                <Address_Line_1>19 Queen Street</Address_Line_1>\n                                <Address_Line_2></Address_Line_2>\n                                <Suburb>Brisbane CBD</Suburb>\n                                <State>QLD</State>\n                                <Postcode>4000</Postcode>\n                                <Is_Current>true</Is_Current>\n                                <Residential_Type>false</Residential_Type>\n                                <Residential_Status>1</Residential_Status>\n                                <Time_At_Address_Months>25</Time_At_Address_Months>\n                            </Address>\n                        </Contact_Method>\n                    </Contact_Methods>\n                </Person_Other>\n            </Reference>\n        </References>\n        <Financials>\n            <Financial>\n                <Detailed_Income>\n                    <Source>Employed</Source>\n                    <Type>Part Time</Type>\n                    <Frequency>weekly</Frequency>\n                    <Description></Description>\n                    <Net_Amount>4500</Net_Amount>\n                    <Gross_Amount>4500</Gross_Amount>\n                    <Is_Current>true</Is_Current>\n                </Detailed_Income>\n            </Financial>\n            <Financial>\n                <Detailed_Liability>\n                    <Type>Personal Loan</Type>\n                    <Frequency>monthly</Frequency>\n                    <Frequency_Amount>100</Frequency_Amount>\n                    <Balance>1000</Balance>\n                    <Start_Date>2015-07-25</Start_Date>\n                    <Estimated_End_Date>2017-03-01</Estimated_End_Date>\n                    <Description>true</Description>\n                </Detailed_Liability>\n            </Financial>\n            <Financial>\n                <Summary_Income>\n                    <Net_Amount>1000</Net_Amount>\n                    <Gross_Amount>1200</Gross_Amount>\n                    <Frequency>weekly</Frequency>\n                </Summary_Income>\n            </Financial>\n            <Financial>\n                <Summary_Liability>\n                    <Amount>1000</Amount>\n                    <Frequency>Part Time</Frequency>\n                </Summary_Liability>\n            </Financial>\n        </Financials>\n        <Bank_Accounts>\n            <Bank_Account>\n                <Account_Number>123456789</Account_Number>\n                <Account_Name>mytest</Account_Name>\n                <Bank_Name></Bank_Name>\n                <Account_Type>1</Account_Type>\n                <BSB>011234</BSB>\n                <Balance>0</Balance>\n                <Age_Of_Account>3</Age_Of_Account>\n            </Bank_Account>\n        </Bank_Accounts>\n        <Person_Applicant>\n            <Title>Mr</Title>\n            <Date_Of_Birth>1980-01-01</Date_Of_Birth>\n            <Last_Name>Ward</Last_Name>\n            <First_Name>Fredrick</First_Name>\n            <Gender>M</Gender>\n            <Dependents>2</Dependents>\n            <Marital_Status></Marital_Status>\n            <Contact_Methods>\n                <Contact_Method>\n                    <Contact_Other>\n                        <Contact_Type>Landline</Contact_Type>\n                        <Contact_Value>0412341234</Contact_Value>\n                    </Contact_Other>\n                </Contact_Method>\n                <Contact_Method>\n                    <Address>\n                        <Address_Line_1>5</Address_Line_1>\n                        <Address_Line_2>Eagle Street</Address_Line_2>\n                        <Suburb>Brisbane CBD</Suburb>\n                        <State>QLD</State>\n                        <Postcode>4000</Postcode>\n                        <Is_Current>true</Is_Current>\n                        <Residential_Type>false</Residential_Type>\n                        <Residential_Status>1</Residential_Status>\n                        <Time_At_Address_Months>25</Time_At_Address_Months>\n                    </Address>\n                </Contact_Method>\n            </Contact_Methods>\n        </Person_Applicant>\n        <Employment_History>\n            <Employment>\n                <Is_Current>true</Is_Current>\n                <Employment_Type>Full Time</Employment_Type>\n                <Occupation>Accountant</Occupation>\n                <Working_Hours_Weekly>40</Working_Hours_Weekly>\n                <Organisation_Name>Steel Accountants</Organisation_Name>\n                <Start_Date>2016-05-20</Start_Date>\n                <Employment_Contacts>\n                    <Person_Other>\n                        <Title>Mr</Title>\n                        <Date_Of_Birth>1980-01-01</Date_Of_Birth>\n                        <Last_Name>Johnson</Last_Name>\n                        <First_Name>James</First_Name>\n                        <Gender>M</Gender>\n                        <Contact_Methods>\n                            <Contact_Method>\n                                <Contact_Other>\n                                    <Contact_Type>MOB</Contact_Type>\n                                    <Contact_Value>047412589</Contact_Value>\n                                </Contact_Other>\n                            </Contact_Method>\n                            <Contact_Method>\n                                <Address>\n                                    <Address_Line_1>32 Albert Street</Address_Line_1>\n                                    <Address_Line_2></Address_Line_2>\n                                    <Suburb>Brisbane CBD</Suburb>\n                                    <State>QLD</State>\n                                    <Postcode>4000</Postcode>\n                                    <Is_Current>true</Is_Current>\n                                    <Residential_Type>false</Residential_Type>\n                                    <Residential_Status>1</Residential_Status>\n                                    <Time_At_Address_Months>25</Time_At_Address_Months>\n                                </Address>\n                            </Contact_Method>\n                        </Contact_Methods>\n                    </Person_Other>\n                </Employment_Contacts>\n                <Contact_Methods>\n                    <Contact_Method>\n                        <Contact_Other>\n                            <Contact_Type>Landline</Contact_Type>\n                            <Contact_Value>0726155948</Contact_Value>\n                        </Contact_Other>\n                    </Contact_Method>\n                    <Contact_Method>\n                        <Address>\n                            <Address_Line_1>21 Elizabeth Street</Address_Line_1>\n                            <Address_Line_2></Address_Line_2>\n                            <Suburb>Brisbane CBD</Suburb>\n                            <State>QLD</State>\n                            <Postcode>4000</Postcode>\n                            <Is_Current>true</Is_Current>\n                        </Address>\n                    </Contact_Method>\n                </Contact_Methods>\n            </Employment>\n            <Employment>\n                <Is_Current>false</Is_Current>\n                <Employment_Type>Full Time</Employment_Type>\n                <Occupation>Accountant</Occupation>\n                <Working_Hours_Weekly>40</Working_Hours_Weekly>\n                <Organisation_Name>We're Accountants</Organisation_Name>\n                <Start_Date>2015-08-10</Start_Date>\n                <End_Date>2016-05-10</End_Date>\n                <Employment_Contacts>\n                    <Person_Other>\n                        <Title>Mr</Title>\n                        <Date_Of_Birth>1980-01-01</Date_Of_Birth>\n                        <Last_Name>Smith</Last_Name>\n                        <First_Name>Harry</First_Name>\n                        <Gender>M</Gender>\n                        <Contact_Methods>\n                            <Contact_Method>\n                                <Contact_Other>\n                                    <Contact_Type>MOB</Contact_Type>\n                                    <Contact_Value>0423547987</Contact_Value>\n                                </Contact_Other>\n                            </Contact_Method>\n                            <Contact_Method>\n                                <Address>\n                                    <Address_Line_1>19 Queen Street</Address_Line_1>\n                                    <Address_Line_2></Address_Line_2>\n                                    <Suburb>Brisbane CBD</Suburb>\n                                    <State>QLD</State>\n                                    <Postcode>4000</Postcode>\n                                    <Is_Current>true</Is_Current>\n                                    <Residential_Type>false</Residential_Type>\n                                    <Residential_Status>1</Residential_Status>\n                                    <Time_At_Address_Months>25</Time_At_Address_Months>\n                                </Address>\n                            </Contact_Method>\n                        </Contact_Methods>\n                    </Person_Other>\n                </Employment_Contacts>\n                <Contact_Methods>\n                    <Contact_Method>\n                        <Contact_Other>\n                            <Contact_Type>Landline</Contact_Type>\n                            <Contact_Value>0726155948</Contact_Value>\n                        </Contact_Other>\n                    </Contact_Method>\n                    <Contact_Method>\n                        <Address>\n                            <Address_Line_1>5 Market Street</Address_Line_1>\n                            <Address_Line_2></Address_Line_2>\n                            <Suburb>Brisbane CBD</Suburb>\n                            <State>QLD</State>\n                            <Postcode>4000</Postcode>\n                            <Is_Current>true</Is_Current>\n                        </Address>\n                    </Contact_Method>\n                </Contact_Methods>\n            </Employment>\n        </Employment_History>\n        <Proof_Of_Identity>\n            <Identification>\n                <Type>Drivers License</Type>\n                <Document_ID>091153487</Document_ID>\n                <Issuer>QLD Government</Issuer>\n                <Date_Expiry>2019-07-22</Date_Expiry>\n                <Date_Issue>2015-07-21</Date_Issue>\n                <File_Name>ward-fredrick-driverslicense.png</File_Name>\n                <Is_Current>true</Is_Current>\n            </Identification>\n        </Proof_Of_Identity>\n    </Applicant>\n</Lead>\n"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "Settings": {
                    "type": "object",
                    "description": "A JSON-encoded object containing all the settings for your request.",
                    "required": [
                      "API_Token"
                    ],
                    "properties": {
                      "API_Token": {
                        "type": "string",
                        "description": "The unique token that identifies your API access privileges.",
                        "example": "daf90138-569f-4488-9f3b-099a58ac4130"
                      },
                      "Test_Sale_Outcome": {
                        "type": "integer",
                        "description": "The test sale outcome code you specify will determine the sale outcome to be returned. This is used for testing purposes only.",
                        "enum": [
                          1,
                          2,
                          3,
                          4
                        ]
                      },
                      "Client_ID": {
                        "type": "integer",
                        "description": "When provided, overrides the default Lead Market org unit attached to the API profile and creates the lead against the specified org unit.",
                        "example": 501
                      }
                    }
                  },
                  "Payload": {
                    "type": "string",
                    "example": "<?xml version=\"1.0\" encoding=\"utf-8\"?> <Lead>     <Seller_Data>         <Client_Authority>true</Client_Authority>         <Customer_Authority>true</Customer_Authority>         <Customer_Authority_Type>Explicit</Customer_Authority_Type>         <CS_App_ID>1577794</CS_App_ID>         <Use_MLM_Flow>true</Use_MLM_Flow>         <Lead_Reference>MyExampleRef0001</Lead_Reference>     </Seller_Data>     <Application>         <Application_Date>2016-08-10</Application_Date>         <Amount>200</Amount>         <Reason>Other – Test</Reason>     </Application>     <Applicant>         <Applicant_Type>Primary</Applicant_Type>         <Person_Applicant>             <Title>Mr</Title>             <Date_Of_Birth>1980-01-01</Date_Of_Birth>             <Last_Name>Ward</Last_Name>             <First_Name>Fredrick</First_Name>             <Marital_Status></Marital_Status>             <Contact_Methods>                 <Contact_Method>                     <Contact_Other>                         <Contact_Type>MOB</Contact_Type>                         <Contact_Value>0412341234</Contact_Value>                     </Contact_Other>                 </Contact_Method>             </Contact_Methods>         </Person_Applicant>     </Applicant> </Lead>",
                    "description": "Contains the details of the lead in XML format in accordance with our lead schema."
                  }
                },
                "required": [
                  "Settings",
                  "Payload"
                ]
              }
            }
          },
          "description": "### Testing sale outcomes\nPass a test sale outcome from the below table into `$.Settings.Test_Sale_Outcome` to simulate having a lead sell or fail to sell.\nProviding a test sale outcome is required if using API credentials linked to a test environment and an error will be returned if it is omitted.\nProviding a test sale outcome is not permitted if using API credentials linked to a production environment and an error will be returned if it is included.\nAny errors encountered processing your request will override your specified test sale outcome - i.e. you must provide valid data in order to test sale outcomes.\n\n| Code | Name         | Description                                                                                                                                                                                                                                                                  |\n|------|--------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| 1    | Make sale    | Results in the lead being sold and sold lead notifications will trigger. Use this outcome to how your system handles sold leads.                                                                                                                                             |\n| 2    | No Buyer     | Results in the lead being returned due to no buyer and unsold lead notifications will trigger. Use this outcome to how your system handles unsold leads.                                                                                                                     |\n| 3    | Already Sold | Results in the lead being returned due to the lead already existing on the market."
        },
        "parameters": []
      }
    },
    "/application/status": {
      "post": {
        "summary": "Get the status of a lead",
        "operationId": "post-application-status",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Warnings": {
                      "type": "array",
                      "description": "A list of warnings. e.g. features that are soon to be deprecated or features that are not yet supported by the API.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "Success": {
                      "type": "boolean",
                      "description": "Denotes whether the lead status was successfully returned.",
                      "default": "true"
                    },
                    "Data": {
                      "type": "object",
                      "description": "An object containing status information about the lead.",
                      "required": [
                        "Status_Type_Code",
                        "Status_Type_Description",
                        "Status_Code",
                        "Status_Description",
                        "Sale_Data"
                      ],
                      "properties": {
                        "Status_Type_Code": {
                          "type": "integer",
                          "enum": [
                            1,
                            2,
                            3,
                            4,
                            5
                          ],
                          "description": "The code that identifies the status type."
                        },
                        "Status_Type_Description": {
                          "type": "string",
                          "enum": [
                            "Bought",
                            "On Market",
                            "Sold",
                            "Recalled",
                            "Preparing to Sell"
                          ],
                          "description": "Describes the status type."
                        },
                        "Status_Code": {
                          "type": "integer",
                          "enum": [
                            1,
                            2,
                            3,
                            4,
                            5,
                            10,
                            11,
                            12,
                            13,
                            14,
                            15,
                            16,
                            20,
                            21,
                            22
                          ],
                          "description": "The code that identifies the status."
                        },
                        "Status_Description": {
                          "type": "string",
                          "enum": [
                            "Bought",
                            "Bought - Cust Notified",
                            "Resell Pending",
                            "Pending CS App",
                            "Analysing Data",
                            "On Market",
                            "Waiting Sale",
                            "Sold",
                            "Sold - Cust Notified",
                            "Recalled",
                            "Recalled - Lead already on market",
                            "Recalled - No Buyer",
                            "Recalled - Lead already on market by same seller",
                            "Pending Client",
                            "Error - no active bid on client"
                          ],
                          "description": "Describes the status."
                        },
                        "Sale_Data": {
                          "type": "object",
                          "description": "An object containing sale data if the lead is sold or bought. If the lead isn't sold or bought, the value will be `null`.",
                          "properties": {
                            "LM_SaleDT": {
                              "type": "string",
                              "example": "2020-07-25 14:56:28.9966667",
                              "description": "The date-time of the sale."
                            },
                            "Lead_Price": {
                              "type": "number",
                              "example": 15,
                              "description": "The base sale amount for the lead. This is a duplicate of `$.Data.Sale_Data.Sale_Base_Amount` provided for backwards compatibility."
                            },
                            "Lead_ID": {
                              "type": "integer",
                              "example": 6605347,
                              "description": "Uniquely identifies the lead across Lead Market."
                            },
                            "CS_App_ID": {
                              "type": "integer",
                              "example": 1234567,
                              "description": "Our unique identifier for the Credit Sense application."
                            },
                            "Sale_Base_Amount": {
                              "type": "number",
                              "example": 15,
                              "description": "The base sale amount for the lead."
                            },
                            "Sale_Base_Amount_Tax": {
                              "type": "number",
                              "example": 1.5,
                              "description": "The tax amount for the base sale amount of the lead. This will be `0` if no tax is due for the sale."
                            },
                            "Sale_Trade_Comm_Amount": {
                              "type": "number",
                              "example": 3,
                              "description": "The trade commission amount for the lead."
                            },
                            "Sale_Trade_Comm_Amount_Tax": {
                              "type": "number",
                              "example": 0.3,
                              "description": "The tax amount for the trade comission on the lead. This will be `0` if no tax is due for the sale."
                            },
                            "Sale_Net_Amount": {
                              "type": "number",
                              "example": 22.25,
                              "description": "**Sellers:** The base sale amount less the trade comission.\n**Buyers:** The base sale amount plus the trade comission.\nAll amounts are tax-inclusive."
                            },
                            "Sale_Currency": {
                              "type": "string",
                              "enum": [
                                "AUD",
                                "CAD",
                                "GBP",
                                "NZD"
                              ],
                              "description": "Denotes the [currency](https://www.iban.com/currency-codes) that lead sale amounts are expressed in."
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "Warnings",
                    "Success",
                    "Data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Errors": {
                      "type": "array",
                      "description": "A list of errors.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "error_type": {
                            "type": "string",
                            "default": "unauthorized",
                            "description": "Denotes the type of error encountered."
                          },
                          "error_code": {
                            "type": "string",
                            "default": "401.1",
                            "description": "The code that identifies the error."
                          },
                          "error_message": {
                            "type": "string",
                            "default": "Invalid API key.",
                            "description": "Describes the error."
                          }
                        },
                        "required": [
                          "error_type",
                          "error_code",
                          "error_message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "Errors"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Errors": {
                      "type": "array",
                      "description": "A list of errors.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "error_type": {
                            "type": "string",
                            "default": "not_found",
                            "description": "Denotes the type of error encountered."
                          },
                          "error_code": {
                            "type": "string",
                            "default": "404.1",
                            "description": "The code that identifies the error."
                          },
                          "error_message": {
                            "type": "string",
                            "default": "No endpoint exists for this URL.",
                            "description": "Describes the error."
                          }
                        },
                        "required": [
                          "error_type",
                          "error_code",
                          "error_message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "Errors"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Leads"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "API_Token": {
                    "type": "string",
                    "example": "daf90138-569f-4488-9f3b-099a58ac4130",
                    "description": "The unique token that identifies your API access privileges."
                  },
                  "Lead_ID": {
                    "type": "integer",
                    "example": 6605347,
                    "description": "Uniquely identifies the lead across Lead Market."
                  }
                },
                "required": [
                  "API_Token",
                  "Lead_ID"
                ]
              }
            }
          },
          "description": ""
        },
        "description": "### Overview\nGet the status of a specific lead.\n\nReasons to use this endpoint:\n- Understand whether a lead has sold.\n- Retrieve sale data for a sold lead.\n\n### Lead status\nThe status of the lead is broken down as below.\n\n| Status type code | Status type description | Status code | Status description                             |\n|------------------|-------------------------|-------------|------------------------------------------------|\n| 1                | Bought                  | 1           | Bought                                         |\n|                  |                         | 2           | Bought - Cust Notified                         |\n| 2                | On Market               | 10          | Resell Pending                                 |\n|                  |                         | 12          | Pending CS App                                 |\n|                  |                         | 13          | Analysing Data                                 |\n|                  |                         | 14          | On Market                                      |\n|                  |                         | 15          | Waiting Sale                                   |\n| 3                | Sold                    | 20          | Sold                                           |\n|                  |                         | 21          | Sold - Cust Notified                           |\n| 4                | Recalled                | 3           | Recalled                                       |\n|                  |                         | 4           | Recalled - Lead already on market              |\n|                  |                         | 5           | Recalled - No Buyer                            |\n|                  |                         | 22          | Recalled - Lead already on market bysameseller |\n| 5                | Preparing to Sell       | 11          | Pending Client                                 |\n|                  |                         | 16          | Error - no active bid on client                |\n\n### Non-compliant HTTP status codes\nWe have some non-compliant status codes that are returned in place of recognised HTTP status codes when specific errors occur.\n\n#### 701: Schema Validation Error\nSchema validation errors indicate that the data you've provided is invalid XML or it doesn't conform to our Seller schema.\n\n##### Example errors\n| Error message                                                                                                                        | Possible cause                                                                                                                           |\n|--------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------|\n| Fatal Error 4: Start tag expected, '<' not found                                                                                     | Missing '<' at beginning of document.                                                                                                    |\n| Error 1872: The document has no document element.                                                                                    | Missing root element. This may also show in various other situations, including if you do not escape xml reserved characters (like \"&\"). |\n| Error 1826: Element 'Application_Date': '2016-08-10b' is not a valid value of the union type 'L_Empty_Date'.                         | Date supplied is in incorrect format.                                                                                                    |\n| Error 1843: Element 'Application': Character content other than whitespace is not allowed because the content type is 'element-only' | Some text is not properly contained in an element.                                                                                       |\n| Fatal Error 76: Opening and ending tag mismatch: Lead line 1 and Seller_Data                                                         | A tag has not been correctly opened or closed.                                                                                           |\n\n#### 702: Authentication Error\nAuthentication errors errors indicate that you're not authorised to perform the requested actions.\n\n##### Example errors\n| Error message                                                                       | Possible cause                                                                                                        |\n|-------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------|\n| Invalid API_Token                                                                   | The API_Token you passed in doesn't match the API_Key you used in the url.                                            |\n| Invalid CS_App_ID for API_Token                                                     | CS_App_ID doesn't exist or doesn't belong to you.                                                                     |\n| Invalid Lead_ID for API_Token                                                       | Lead_ID doesn't exist or doesn't belong to you.                                                                       |\n| Invalid Buyer_Token for API_Token                                                   | The Buyer_Token provided does not correspond to any leads you have purchased.                                         |\n| Invalid CS_App_ID for Client_ID                                                     | If you use the optional Client_ID parameter in settings. CS_App_ID doesn't exist or doesn't belong to this Client_ID. |\n| Client_ID not valid for API_Token                                                   | The Client_ID supplied doesn't exist or doesn't belong to you.                                                        |\n| Your API Key has not been activated yet, please contact us to activate your API key | The API profile your provided credentials link to is inactive. Contact us to activate it.                             |\n\n#### 703: Data Error\nData errors indicate that there's a mismatch between multiple bits of data you've provided.\n\n##### Example errors\n| Error message                                                                                                                              | Possible cause                                                                                                                                                                             |\n|--------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| Lead_ID and CS_App_ID don't match                                                                                                          | If you have provided both Lead_ID and CS_App_ID, these two numbers don't match on our database.                                                                                            |\n| The Credit Sense application was completed more then 24 hours ago. For a lead to be sold the application must be completed within 24 hours | The CS_App_ID you have provided references a Credit Sense application that was completed more than 24 hours ago. For a lead to be sold, the application must be completed within 24 hours. |\n| The fields 'Lead_ID' and 'Buyer_Token' were both missing, please include one in your API call                                              | You have not provided either Lead_ID or Buyer_Token; one must be provided.                                                                                                                 |\n| The fields 'Lead_ID' and 'Buyer_Token' were both present, please include only one in your API call                                         | You have provided both Lead_ID and Buyer_Token; only one may be provided.                                                                                                                  |\n| Settings object key: 'App_Reference' has not been provided                                                                                 | The App_Reference parameter is missing from the API call.                                                                                                                                  |\n\n#### 704: Other Error\nOther errors indicate that there's a generic problem, not described above.\n\n| Error message                                                                                                                                                                                  | Possible cause                                                                              |\n|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------|\n| The API credentials you have provided are testing credentials and you haven't provided a valid Test_Sale_Outcome. When using test credentials you must include the Test_Sale_Outcome parameter | You're testing against a dev/test org unit and failed to pass in a valid test sale outcome. |",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "description": "Indicates the type of data being sent.",
            "required": true,
            "default": "application/json"
          }
        ]
      }
    },
    "/application/detail": {
      "post": {
        "summary": "Get the details for a lead",
        "operationId": "post-application-detail",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Warnings": {
                      "type": "array",
                      "description": "A list of warnings. e.g. features that are soon to be deprecated or features that are not yet supported by the API.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "Success": {
                      "type": "boolean",
                      "description": "Denotes whether the lead was successfully created.",
                      "default": "true"
                    },
                    "Data": {
                      "type": "object",
                      "description": "The lead details.",
                      "properties": {
                        "Lead": {
                          "$ref": "#/components/schemas/Lead-schema"
                        }
                      }
                    }
                  },
                  "required": [
                    "Warnings",
                    "Success",
                    "Data"
                  ]
                },
                "examples": {
                  "Buyer example": {
                    "value": {
                      "Applicant": {
                        "Applicant_Type": "Primary",
                        "References": {
                          "Reference": [
                            {
                              "Relationship_Type": "Previous employer",
                              "Known_Applicant_Years": "3",
                              "Person_Other": {
                                "Title": "Mr",
                                "Date_Of_Birth": "1975-07-17",
                                "Last_Name": "Rhoades",
                                "Middle_Names": "Chuck",
                                "First_Name": "Charles",
                                "Gender": "M",
                                "Contact_Methods": {
                                  "Contact_Method": [
                                    {
                                      "Contact_Other": {
                                        "Contact_Type": "mobile",
                                        "Contact_Value": "+61488853631",
                                        "V_Contact_Value": "+61488853631",
                                        "V_Contact_Type": "MOB"
                                      },
                                      "Address": {
                                        "Address_Line_1": "Aurora Tower",
                                        "Address_Line_2": "Level 69, 420 Queen Street",
                                        "Suburb": "Brisbane",
                                        "State": "QLD",
                                        "Postcode": "4000",
                                        "Is_Current": "true",
                                        "Residential_Type": "Apartment",
                                        "Residential_Status": "Renting",
                                        "Time_At_Address_Months": "36"
                                      }
                                    }
                                  ]
                                },
                                "V_Unique_Contact_Methods": {
                                  "V_Unique_Contact_Method": [
                                    {
                                      "V_Unique_Contact_Other": {
                                        "V_Unique_Contact_Value": "+61488853631",
                                        "V_Unique_Contact_Type": "MOB"
                                      }
                                    }
                                  ]
                                }
                              }
                            }
                          ]
                        },
                        "Financials": {
                          "Financial": [
                            {
                              "Detailed_Income": {
                                "Source": "Axe Capital",
                                "Type": "Full-time",
                                "Frequency": "weekly",
                                "Description": "This is the customer's primary income",
                                "Net_Amount": 2000,
                                "Gross_Amount": 3000,
                                "Is_Current": "false",
                                "Start_Date": "2016-01-01",
                                "End_Date": "2020-08-26"
                              },
                              "Detailed_Liability": {
                                "Type": "once-off",
                                "Frequency": "monthly",
                                "Frequency_Amount": 100,
                                "Balance": 1000,
                                "Start_Date": "2019-08-24",
                                "Estimated_End_Date": "2019-08-24",
                                "Description": "Personal Loan"
                              },
                              "Summary_Income": {
                                "Net_Amount": "2000",
                                "Gross_Amount": "3000",
                                "Frequency": "weekly"
                              },
                              "Summary_Liability": {
                                "Amount": "100",
                                "Frequency": "monthly"
                              }
                            }
                          ]
                        },
                        "Bank_Accounts": {
                          "Bank_Account": [
                            {
                              "Account_Number": "17012016",
                              "Account_Name": "Super Saver",
                              "Bank_Name": "Mason Capital Savings and Loan",
                              "Account_Type": "Savings",
                              "BSB": "440003",
                              "Balance": "10000",
                              "Age_Of_Account": "4"
                            }
                          ]
                        },
                        "Person_Applicant": {
                          "Title": "Ms",
                          "Date_Of_Birth": "1978-02-11",
                          "Last_Name": "Rhoades",
                          "Middle_Names": "Chuck",
                          "First_Name": "Wendy",
                          "Gender": "F",
                          "Dependents": "2",
                          "Marital_Status": "Separated",
                          "Can_Provide_Guarantor": "true",
                          "Contact_Methods": {
                            "Contact_Method": [
                              {
                                "Contact_Other": {
                                  "Contact_Type": "mobile",
                                  "Contact_Value": "+61488853631",
                                  "V_Contact_Value": "+61488853631",
                                  "V_Contact_Type": "MOB"
                                },
                                "Address": {
                                  "Address_Line_1": "Aurora Tower",
                                  "Address_Line_2": "Level 69, 420 Queen Street",
                                  "Suburb": "Brisbane",
                                  "State": "QLD",
                                  "Postcode": "4000",
                                  "Is_Current": "false",
                                  "Residential_Type": "Apartment",
                                  "Residential_Status": "Renting",
                                  "Time_At_Address_Months": "36"
                                }
                              }
                            ]
                          },
                          "V_Unique_Contact_Methods": {
                            "V_Unique_Contact_Method": [
                              {
                                "V_Unique_Contact_Other": {
                                  "V_Unique_Contact_Value": "+61488853631",
                                  "V_Unique_Contact_Type": "MOB"
                                }
                              }
                            ]
                          }
                        },
                        "Employment_History": {
                          "Employment": [
                            {
                              "Is_Current": "true",
                              "Employment_Type": "Contract",
                              "Occupation": "Performance Coach",
                              "Working_Hours_Weekly": "40",
                              "Organisation_Name": "Axe Captial",
                              "Start_Date": "2015-02-14",
                              "End_Date": "2020-08-28",
                              "Employment_Contacts": {
                                "Person_Other": {
                                  "Title": "Mr",
                                  "Date_Of_Birth": "1977-04-12",
                                  "Last_Name": "Axelrod",
                                  "First_Name": "Bobby",
                                  "Gender": "M",
                                  "Contact_Methods": {
                                    "Contact_Method": [
                                      {
                                        "Contact_Other": {
                                          "Contact_Type": "mobile",
                                          "Contact_Value": "+61488853631",
                                          "V_Contact_Value": "+61488853631",
                                          "V_Contact_Type": "MOB"
                                        },
                                        "Address": {
                                          "Address_Line_1": "Casino Towers",
                                          "Address_Line_2": "Level 33, 151 George Street",
                                          "Suburb": "Brisbane",
                                          "State": "QLD",
                                          "Postcode": "4000",
                                          "Is_Current": "true",
                                          "Residential_Type": "Apartment",
                                          "Residential_Status": "Owned",
                                          "Time_At_Address_Months": "19"
                                        }
                                      }
                                    ]
                                  },
                                  "V_Unique_Contact_Methods": {
                                    "V_Unique_Contact_Method": [
                                      {
                                        "V_Unique_Contact_Other": {
                                          "V_Unique_Contact_Value": "+61488853631",
                                          "V_Unique_Contact_Type": "MOB"
                                        }
                                      }
                                    ]
                                  }
                                }
                              },
                              "Contact_Methods": {
                                "Contact_Method": [
                                  {
                                    "Contact_Other": {
                                      "Contact_Type": "mobile",
                                      "Contact_Value": "+61488853631",
                                      "V_Contact_Value": "+61488853631",
                                      "V_Contact_Type": "MOB"
                                    },
                                    "Address": {
                                      "Address_Line_1": "Aurora Tower",
                                      "Address_Line_2": "Level 69, 420 Queen Street",
                                      "Suburb": "Brisbane",
                                      "State": "QLD",
                                      "Postcode": "4000",
                                      "Is_Current": "false"
                                    }
                                  }
                                ]
                              },
                              "V_Unique_Contact_Methods": {
                                "V_Unique_Contact_Method": [
                                  {
                                    "V_Unique_Contact_Other": {
                                      "V_Unique_Contact_Value": "+61488853631",
                                      "V_Unique_Contact_Type": "MOB"
                                    }
                                  }
                                ]
                              }
                            }
                          ]
                        },
                        "Proof_Of_Identity": {
                          "Identification": [
                            {
                              "Type": "driver licence",
                              "Document_ID": "084859805",
                              "Issuer": "Queensland Government",
                              "Date_Expiry": "2029-01-06",
                              "Date_Issue": "2019-01-06",
                              "File_Name": "rhoades-driver-licence.pdf",
                              "Is_Current": "true"
                            }
                          ]
                        }
                      },
                      "Application": {
                        "Application_Date": "2016-08-10",
                        "Interest_Rate": 20,
                        "Repayment_Amount": 200,
                        "Fees": 100,
                        "Type": "Personal Loan",
                        "Amount": 1000,
                        "Reason": "Book purchase",
                        "Repayment_Cycle": "weekly",
                        "Repayment_Count": "7",
                        "Description": "Purchase of first-edition 'The Second World War' six-volume series by Winston Churchill"
                      },
                      "Buyer_Data": {
                        "LM_SaleDT": "2017-01-06 17:22:48.4700000",
                        "Lead_Price": 50,
                        "CS_AppCompleted_DT": "2017-01-06 17:21:54.2600000",
                        "Lead_ID": 5824,
                        "CS_App_ID": 1577797,
                        "Winning_Bid_ID": 312,
                        "Sale_Base_Amount": 50,
                        "Sale_Base_Amount_Tax": 5,
                        "Sale_Trade_Comm_Amount": 7.5,
                        "Sale_Trade_Comm_Amount_Tax": 0.75,
                        "Sale_Net_Amount": 63.25,
                        "Sale_Currency": "AUD",
                        "Buyer_Token": "pC81HjJmiTKJ3stwVu7a"
                      },
                      "Custom_Data": {
                        "Your_Question_Here": "An example answer"
                      },
                      "Decision_Points": {
                        "Decision_Point": [
                          {
                            "ID": 101,
                            "Name": "customerAge",
                            "Score_DT": "1980-01-01 00:00:00.0000000",
                            "Score": 50
                          }
                        ]
                      }
                    }
                  },
                  "Seller example": {
                    "value": {
                      "Applicant": {
                        "Applicant_Type": "Primary",
                        "References": {
                          "Reference": [
                            {
                              "Relationship_Type": "Previous employer",
                              "Known_Applicant_Years": "3",
                              "Person_Other": {
                                "Title": "Mr",
                                "Date_Of_Birth": "1975-07-17",
                                "Last_Name": "Rhoades",
                                "Middle_Names": "Chuck",
                                "First_Name": "Charles",
                                "Gender": "M",
                                "Contact_Methods": {
                                  "Contact_Method": [
                                    {
                                      "Contact_Other": {
                                        "Contact_Type": "mobile",
                                        "Contact_Value": "+61488853631",
                                        "V_Contact_Value": "+61488853631",
                                        "V_Contact_Type": "MOB"
                                      },
                                      "Address": {
                                        "Address_Line_1": "Aurora Tower",
                                        "Address_Line_2": "Level 69, 420 Queen Street",
                                        "Suburb": "Brisbane",
                                        "State": "QLD",
                                        "Postcode": "4000",
                                        "Is_Current": "true",
                                        "Residential_Type": "Apartment",
                                        "Residential_Status": "Renting",
                                        "Time_At_Address_Months": "36"
                                      }
                                    }
                                  ]
                                },
                                "V_Unique_Contact_Methods": {
                                  "V_Unique_Contact_Method": [
                                    {
                                      "V_Unique_Contact_Other": {
                                        "V_Unique_Contact_Value": "+61488853631",
                                        "V_Unique_Contact_Type": "MOB"
                                      }
                                    }
                                  ]
                                }
                              }
                            }
                          ]
                        },
                        "Financials": {
                          "Financial": [
                            {
                              "Detailed_Income": {
                                "Source": "Axe Capital",
                                "Type": "Full-time",
                                "Frequency": "weekly",
                                "Description": "This is the customer's primary income",
                                "Net_Amount": 2000,
                                "Gross_Amount": 3000,
                                "Is_Current": "false",
                                "Start_Date": "2016-01-01",
                                "End_Date": "2020-08-26"
                              },
                              "Detailed_Liability": {
                                "Type": "once-off",
                                "Frequency": "monthly",
                                "Frequency_Amount": 100,
                                "Balance": 1000,
                                "Start_Date": "2019-08-24",
                                "Estimated_End_Date": "2019-08-24",
                                "Description": "Personal Loan"
                              },
                              "Summary_Income": {
                                "Net_Amount": "2000",
                                "Gross_Amount": "3000",
                                "Frequency": "weekly"
                              },
                              "Summary_Liability": {
                                "Amount": "100",
                                "Frequency": "monthly"
                              }
                            }
                          ]
                        },
                        "Bank_Accounts": {
                          "Bank_Account": [
                            {
                              "Account_Number": "17012016",
                              "Account_Name": "Super Saver",
                              "Bank_Name": "Mason Capital Savings and Loan",
                              "Account_Type": "Savings",
                              "BSB": "440003",
                              "Balance": "10000",
                              "Age_Of_Account": "4"
                            }
                          ]
                        },
                        "Person_Applicant": {
                          "Title": "Ms",
                          "Date_Of_Birth": "1978-02-11",
                          "Last_Name": "Rhoades",
                          "Middle_Names": "Chuck",
                          "First_Name": "Wendy",
                          "Gender": "F",
                          "Dependents": "2",
                          "Marital_Status": "Separated",
                          "Can_Provide_Guarantor": "true",
                          "Contact_Methods": {
                            "Contact_Method": [
                              {
                                "Contact_Other": {
                                  "Contact_Type": "mobile",
                                  "Contact_Value": "+61488853631",
                                  "V_Contact_Value": "+61488853631",
                                  "V_Contact_Type": "MOB"
                                },
                                "Address": {
                                  "Address_Line_1": "Aurora Tower",
                                  "Address_Line_2": "Level 69, 420 Queen Street",
                                  "Suburb": "Brisbane",
                                  "State": "QLD",
                                  "Postcode": "4000",
                                  "Is_Current": "false",
                                  "Residential_Type": "Apartment",
                                  "Residential_Status": "Renting",
                                  "Time_At_Address_Months": "36"
                                }
                              }
                            ]
                          },
                          "V_Unique_Contact_Methods": {
                            "V_Unique_Contact_Method": [
                              {
                                "V_Unique_Contact_Other": {
                                  "V_Unique_Contact_Value": "+61488853631",
                                  "V_Unique_Contact_Type": "MOB"
                                }
                              }
                            ]
                          }
                        },
                        "Employment_History": {
                          "Employment": [
                            {
                              "Is_Current": "true",
                              "Employment_Type": "Contract",
                              "Occupation": "Performance Coach",
                              "Working_Hours_Weekly": "40",
                              "Organisation_Name": "Axe Captial",
                              "Start_Date": "2015-02-14",
                              "End_Date": "2020-08-28",
                              "Employment_Contacts": {
                                "Person_Other": {
                                  "Title": "Mr",
                                  "Date_Of_Birth": "1977-04-12",
                                  "Last_Name": "Axelrod",
                                  "First_Name": "Bobby",
                                  "Gender": "M",
                                  "Contact_Methods": {
                                    "Contact_Method": [
                                      {
                                        "Contact_Other": {
                                          "Contact_Type": "mobile",
                                          "Contact_Value": "+61488853631",
                                          "V_Contact_Value": "+61488853631",
                                          "V_Contact_Type": "MOB"
                                        },
                                        "Address": {
                                          "Address_Line_1": "Casino Towers",
                                          "Address_Line_2": "Level 33, 151 George Street",
                                          "Suburb": "Brisbane",
                                          "State": "QLD",
                                          "Postcode": "4000",
                                          "Is_Current": "true",
                                          "Residential_Type": "Apartment",
                                          "Residential_Status": "Owned",
                                          "Time_At_Address_Months": "19"
                                        }
                                      }
                                    ]
                                  },
                                  "V_Unique_Contact_Methods": {
                                    "V_Unique_Contact_Method": [
                                      {
                                        "V_Unique_Contact_Other": {
                                          "V_Unique_Contact_Value": "+61488853631",
                                          "V_Unique_Contact_Type": "MOB"
                                        }
                                      }
                                    ]
                                  }
                                }
                              },
                              "Contact_Methods": {
                                "Contact_Method": [
                                  {
                                    "Contact_Other": {
                                      "Contact_Type": "mobile",
                                      "Contact_Value": "+61488853631",
                                      "V_Contact_Value": "+61488853631",
                                      "V_Contact_Type": "MOB"
                                    },
                                    "Address": {
                                      "Address_Line_1": "Aurora Tower",
                                      "Address_Line_2": "Level 69, 420 Queen Street",
                                      "Suburb": "Brisbane",
                                      "State": "QLD",
                                      "Postcode": "4000",
                                      "Is_Current": "false"
                                    }
                                  }
                                ]
                              },
                              "V_Unique_Contact_Methods": {
                                "V_Unique_Contact_Method": [
                                  {
                                    "V_Unique_Contact_Other": {
                                      "V_Unique_Contact_Value": "+61488853631",
                                      "V_Unique_Contact_Type": "MOB"
                                    }
                                  }
                                ]
                              }
                            }
                          ]
                        },
                        "Proof_Of_Identity": {
                          "Identification": [
                            {
                              "Type": "driver licence",
                              "Document_ID": "084859805",
                              "Issuer": "Queensland Government",
                              "Date_Expiry": "2029-01-06",
                              "Date_Issue": "2019-01-06",
                              "File_Name": "rhoades-driver-licence.pdf",
                              "Is_Current": "true"
                            }
                          ]
                        }
                      },
                      "Application": {
                        "Application_Date": "2016-08-10",
                        "Interest_Rate": 20,
                        "Repayment_Amount": 200,
                        "Fees": 100,
                        "Type": "Personal Loan",
                        "Amount": 1000,
                        "Reason": "Book purchase",
                        "Repayment_Cycle": "weekly",
                        "Repayment_Count": "7",
                        "Description": "Purchase of first-edition 'The Second World War' six-volume series by Winston Churchill"
                      },
                      "Seller_Data": {
                        "Client_Authority": true,
                        "Customer_Authority": true,
                        "Customer_Authority_Type": "Implicit",
                        "CS_App_ID": 18200557,
                        "Use_MLM_Flow": true,
                        "Lead_ID": 5824,
                        "Lead_Token": "F16WeC",
                        "Lead_Reference": "NYCAG2018",
                        "Credit_Authority_Enquiry_Number": 7671338561
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Errors": {
                      "type": "array",
                      "description": "A list of errors.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "error_type": {
                            "type": "string",
                            "default": "unauthorized",
                            "description": "Denotes the type of error encountered."
                          },
                          "error_code": {
                            "type": "string",
                            "default": "401.1",
                            "description": "The code that identifies the error."
                          },
                          "error_message": {
                            "type": "string",
                            "default": "Invalid API key.",
                            "description": "Describes the error."
                          }
                        },
                        "required": [
                          "error_type",
                          "error_code",
                          "error_message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "Errors"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "### Overview\nGet the details for a specific lead.\n\nReasons to use this endpoint:\n- Retrieve all details for a sold or bought lead.\n\nShared objects between Sellers and Buyers:\n- `$.Lead.Applicant`\n- `$.Lead.Application`\n\nSeller-only object:\n- `$.Lead.Seller_Data`\n\nBuyer-only objects:\n- `$.Lead.Buyer_Data`\n- `$.Lead.Custom_Data`\n- `$.Lead.Decision_Points`\n\n### Non-compliant HTTP status codes\nWe have some non-compliant status codes that are returned in place of recognised HTTP status codes when specific errors occur.\n\n#### 701: Schema Validation Error\nSchema validation errors indicate that the data you've provided is invalid XML or it doesn't conform to our Seller schema.\n\n##### Example errors\n| Error message                                                                                                                        | Possible cause                                                                                                                           |\n|--------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------|\n| Fatal Error 4: Start tag expected, '<' not found                                                                                     | Missing '<' at beginning of document.                                                                                                    |\n| Error 1872: The document has no document element.                                                                                    | Missing root element. This may also show in various other situations, including if you do not escape xml reserved characters (like \"&\"). |\n| Error 1826: Element 'Application_Date': '2016-08-10b' is not a valid value of the union type 'L_Empty_Date'.                         | Date supplied is in incorrect format.                                                                                                    |\n| Error 1843: Element 'Application': Character content other than whitespace is not allowed because the content type is 'element-only' | Some text is not properly contained in an element.                                                                                       |\n| Fatal Error 76: Opening and ending tag mismatch: Lead line 1 and Seller_Data                                                         | A tag has not been correctly opened or closed.                                                                                           |\n\n#### 702: Authentication Error\nAuthentication errors errors indicate that you're not authorised to perform the requested actions.\n\n##### Example errors\n| Error message                                                                       | Possible cause                                                                                                        |\n|-------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------|\n| Invalid API_Token                                                                   | The API_Token you passed in doesn't match the API_Key you used in the url.                                            |\n| Invalid CS_App_ID for API_Token                                                     | CS_App_ID doesn't exist or doesn't belong to you.                                                                     |\n| Invalid Lead_ID for API_Token                                                       | Lead_ID doesn't exist or doesn't belong to you.                                                                       |\n| Invalid Buyer_Token for API_Token                                                   | The Buyer_Token provided does not correspond to any leads you have purchased.                                         |\n| Invalid CS_App_ID for Client_ID                                                     | If you use the optional Client_ID parameter in settings. CS_App_ID doesn't exist or doesn't belong to this Client_ID. |\n| Client_ID not valid for API_Token                                                   | The Client_ID supplied doesn't exist or doesn't belong to you.                                                        |\n| Your API Key has not been activated yet, please contact us to activate your API key | The API profile your provided credentials link to is inactive. Contact us to activate it.                             |\n\n#### 703: Data Error\nData errors indicate that there's a mismatch between multiple bits of data you've provided.\n\n##### Example errors\n| Error message                                                                                                                              | Possible cause                                                                                                                                                                             |\n|--------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| Lead_ID and CS_App_ID don't match                                                                                                          | If you have provided both Lead_ID and CS_App_ID, these two numbers don't match on our database.                                                                                            |\n| The Credit Sense application was completed more then 24 hours ago. For a lead to be sold the application must be completed within 24 hours | The CS_App_ID you have provided references a Credit Sense application that was completed more than 24 hours ago. For a lead to be sold, the application must be completed within 24 hours. |\n| The fields 'Lead_ID' and 'Buyer_Token' were both missing, please include one in your API call                                              | You have not provided either Lead_ID or Buyer_Token; one must be provided.                                                                                                                 |\n| The fields 'Lead_ID' and 'Buyer_Token' were both present, please include only one in your API call                                         | You have provided both Lead_ID and Buyer_Token; only one may be provided.                                                                                                                  |\n| Settings object key: 'App_Reference' has not been provided                                                                                 | The App_Reference parameter is missing from the API call.                                                                                                                                  |\n\n#### 704: Other Error\nOther errors indicate that there's a generic problem, not described above.\n\n| Error message                                                                                                                                                                                  | Possible cause                                                                              |\n|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------|\n| The API credentials you have provided are testing credentials and you haven't provided a valid Test_Sale_Outcome. When using test credentials you must include the Test_Sale_Outcome parameter | You're testing against a dev/test org unit and failed to pass in a valid test sale outcome. |",
        "tags": [
          "Leads"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "API_Token": {
                    "type": "string",
                    "example": "daf90138-569f-4488-9f3b-099a58ac4130",
                    "description": "The unique token that identifies your API access privileges."
                  },
                  "Lead_ID": {
                    "type": "integer",
                    "example": 6605347,
                    "description": "Uniquely identifies the lead across Lead Market. If this is omitted, `$.Buyer_Token` must be present."
                  },
                  "Buyer_Token": {
                    "type": "string",
                    "description": "Uniquely identifies the lead across Lead Market for the Buyer. If this is omitted, `$.Lead_ID` must be present.",
                    "example": "UBSgSRGCLvfasymMDERYHNdtjSjBD72S"
                  },
                  "Extra_Info_Only": {
                    "type": "boolean",
                    "default": "false",
                    "description": "Specify whether you'd like to only receive lead details added via the Lead Market buyer form. When set to `true`, only the information we gather from the lead in the Buyer iframe will be returned in the response."
                  }
                },
                "required": [
                  "API_Token"
                ]
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "description": "Indicates the type of data being sent.",
            "required": true,
            "default": "application/json"
          }
        ]
      }
    },
    "/webhook-seller": {
      "post": {
        "summary": "Seller webhooks",
        "operationId": "post-seller-webhook-sold",
        "responses": {},
        "callbacks": {
          "Seller sold webhook": {
            "https://your-webhook-endpoint.com": {
              "post": {
                "summary": "Lead Market sold lead webhook",
                "description": "A callback is triggered every time a lead is sold.",
                "externalDocs": {
                  "description": "Check out our help docs.",
                  "url": "https://docs.creditsense.com.au/display/CSI/Fully+integrated+webhook"
                },
                "requestBody": {
                  "content": {
                    "application/x-www-form-urlencoded": {
[...]
