{
  "openapi": "3.0.0",
  "info": {
    "title": "Credit Sense API",
    "version": "2.0",
    "x-logo": {
      "url": "https://rmeredithcs.github.io/credit-sense-v2-api/credit_sense_logo.png"
    },
    "description": "The Credit Sense API allows you to:\n- Create, manage, and send quick links.\n- Grant access permissions for applications to another Store.\n- Manage refresh authorities and trigger refreshes on existing applications.\n- Provide transaction data that we'll use to generate Credit Sense reports.\n- Retrieve existing Credit Sense reports.\n- Retrieve statistics on the number of applications completed.\n- Retrieve statuses and metadata for applications.\n- View and manage blacklisted applications.\n\n### About these API docs\nThese API docs are provided in OpenAPI Specification (OAS) format for your reference. Use the `Download` button atop this page to download these API docs as an OAS 3-compliant JSON document that you can import into the API client of your choice (e.g. [Postman](https://www.postman.com/), [Insomnia](https://insomnia.rest/), [Swagger Inspector](https://inspector.swagger.io/builder)).\n\nYou can also click one of the buttons below to import the API spec into an API client you have installed.\n\n[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/da63c952ac2450a1701c)\n[![Run in Insomnia}](https://insomnia.rest/images/run.svg)](https://insomnia.rest/run/?label=Credit%20Sense%20API&uri=https%3A%2F%2Frmeredithcs.github.io%2Fcredit-sense-v2-api%2FCredit-Sense-API.v2.json)\n\nClick the chevrons next to object names and response codes to expand out the request and response schemas.\n![alt text](https://rmeredithcs.github.io/credit-sense-v2-api/API_docs_guide.gif \"API docs guide screen recording\")\n\n### Request URL\nThe request URL is built using multiple components - `{protocol}` `{base-url}` `{version}` `{api-key}` `{endpoint}`\n1. All calls to the API must be made using the TLS **protocol** - `https://`\n2. The **base URL** is always [api.creditsense.com.au](api.creditsense.com.au) - `https://api.creditsense.com.au`\n3. The current **version** is v2 - `https://api.creditsense.com.au/v2`\n4. The **API key** will be unique to your environment - `https://api.creditsense.com.au/v2/xxx-xxx-xxx`\n5. The **endpont** will be determined by what you're trying to do - `https://api.creditsense.com.au/v2/xxx-xxx-xxx/exampleEndpoint`\n\n### Authentication\nEach call to the API requires:\n- **API key** - identifies your account; forms part of the request URL.\n- **API token** - identifies your access to the API; included in the `Settings` object in your request body.\n\nIf you don't have your API credentials or you'd like them to be changed, please [contact us](mailto:support@creditsense.com.au).\n\n### Rate Limiting\nThe API is rate limited at one API call per second, with the ability to handle a burst of up to 20 API calls depending on the amount of API credits available.\n\n#### How do API credits work?\n- Every API call uses an API credit. \n- Your account receives one API credit every one second and can accrue a maximum of 20 credits at any time.\n- When your API credits run out the API will return a '429 - Too Many Requests' status code, indicating that you will need to retry your API call after waiting for your API credit balance to increase.",
    "contact": {
      "name": "Credit Sense Support",
      "url": "https://creditsense.com.au/contact",
      "email": "support@creditsense.com.au"
    }
  },
  "servers": [
    {
      "url": "https://api.creditsense.com.au/v2/{api-key}",
      "description": "Credit Sense v2 API",
      "variables": {
        "api-key": {
          "default": "your-api-key-goes-here",
          "description": "The unique key that identifies your account."
        }
      }
    }
  ],
  "paths": {
    "/refresh": {
      "post": {
        "summary": "Refresh apps",
        "operationId": "post-refresh",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Response": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "App_ID": {
                            "type": "integer",
                            "example": 2345678,
                            "description": "Our unique identifier for the new refresh application."
                          },
                          "App_Ref": {
                            "type": "string",
                            "example": "B123 2020/04/20 10:33:01",
                            "description": "Your reference assigned to the new refresh application. \nIf your reference is not unique within the Store, we will append the refresh date and time to make the reference unique."
                          },
                          "Client_App_Ref": {
                            "type": "string",
                            "example": "B123",
                            "description": "Your reference assigned to the new refresh application.\nIf your reference is unique within the Store, this will match the `App_Ref`."
                          },
                          "Is_New_App": {
                            "type": "boolean",
                            "example": true,
                            "description": "Denotes whether the refresh was processed as a priority."
                          },
                          "Existing_App_ID": {
                            "type": "integer",
                            "example": 1234567,
                            "description": "Our unique identifier for the existing application that was refreshed."
                          },
                          "Refresh_Date": {
                            "type": "string",
                            "example": "2020/04/20 10:33:01",
                            "description": "The date and time the new refresh application was created."
                          }
                        },
                        "required": [
                          "App_ID",
                          "App_Ref",
                          "Client_App_Ref",
                          "Is_New_App",
                          "Existing_App_ID",
                          "Refresh_Date"
                        ]
                      }
                    }
                  },
                  "required": [
                    "Response"
                  ]
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Response": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "App_ID": {
                            "type": "integer",
                            "description": "Our unique identifier for the new refresh application.",
                            "example": 2345678
                          },
                          "App_Ref": {
                            "type": "string",
                            "description": "Your reference assigned to the new refresh application. \nIf your reference is not unique within the Store, we will append the refresh date and time to make the reference unique.",
                            "example": "B123"
                          },
                          "Is_New_App": {
                            "type": "boolean",
                            "example": true,
                            "description": "Denotes whether the refresh was processed as a priority."
                          },
                          "Existing_App_ID": {
                            "type": "integer",
                            "example": 1234567,
                            "description": "Our unique identifier for the existing application that was refreshed."
                          },
                          "Refresh_Date": {
                            "type": "string",
                            "example": "2020/04/20 10:33:01",
                            "description": "The date and time the new refresh application was created."
                          }
                        },
                        "required": [
                          "App_ID",
                          "App_Ref",
                          "Is_New_App",
                          "Existing_App_ID",
                          "Refresh_Date"
                        ]
                      }
                    },
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description",
                        "Apps"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "integer",
                          "description": "The code that identifies the error.",
                          "example": 207
                        },
                        "Error_Type": {
                          "type": "string",
                          "example": "Multi-Status",
                          "description": "Denotes the type of error encountered."
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "The message body can contain a number of separate response codes, depending on how many sub-requests were made."
                        },
                        "Apps": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "App_ID": {
                                "type": "integer",
                                "example": 1234567,
                                "description": "Our unique identifier for the application this error relates to."
                              },
                              "Error_Code": {
                                "type": "number",
                                "example": 207.1,
                                "description": "The code that identifies the error."
                              },
                              "Error_Type": {
                                "type": "string",
                                "example": "Invalid Post",
                                "description": "Describes the type of error."
                              },
                              "Error_Description": {
                                "type": "string",
                                "example": "Invalid AppID.",
                                "description": "Describes the error."
                              }
                            },
                            "required": [
                              "App_ID",
                              "Error_Code",
                              "Error_Type",
                              "Error_Description"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "Response",
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 400
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Bad Request"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "The server cannot or will not process the request due to an apparent client error."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 401.1
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Unauthorized"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "Similar to 403 Forbidden, but specifically for use when authentication is required and has failed or has not yet been provided."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 403
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Forbidden"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "Access denied."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 422
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Unprocessable Entity"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "The request was well-formed but was unable to be followed due to semantic errors."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 429
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Too Many Requests"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "API calls exceed a maximum of calls per minute limit."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 500
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Internal Server Error"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "Internal server error."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 501
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Not Implemented"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "Invalid command."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 503
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Service Unavailable"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "Unable to service your request at this time. Please try again later."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          }
        },
        "description": "### Overview\nTrigger a refresh for one or more existing applications.\n\nReasons to use this endpoint:\n- Generate a new Credit Sense report with the latest transaction history.\n- Monitor a customer's account balance to determine the best time to process a loan repayment.\n\n### Requirements\nIn order to refresh the application successfully, the following requirements must be met:\n\n1. A valid App ID must be provided.\n2. The application needs a valid and active refresh authority.\n3. The Store that owns the refresh application needs to have a refresh Store linked.\n4. The Client that owns the refresh application needs to have a valid provider (e.g. Yodlee v12).\n5. The credential of the refresh application doesn't require MFA verification.\n\n### Priority\nWhen an application is refreshed as a priority, it will be processed first in the queue. Each Client has a certain number of applications that can be set as priority. If the number of priority applications reaches the limit, the system will ignore the priority settings and refresh any remaining applications as normal priority. \n\n### Additional information\nIf a refresh is triggered on a completed application, the system will create a new application. Whereas if a refresh is triggered on an incomplete or unsuccessful application, it will refresh the existing application.\n\nOnce a refresh is completed, an email and/or webhook call may be made, dependent on the Client and Store configuration.",
        "tags": [
          "Refresh"
        ],
        "x-codeSamples": [
          {
            "lang": "C# (ASP.NET)",
            "source": "\n//This example ASP.NET wrapper code will trigger a refresh.\n\nusing System;\nusing System.Collections.Generic;\nusing System.IO;\nusing System.Net;\nusing System.Runtime.Serialization.Json;\nusing System.Text;\nusing System.Threading.Tasks;\n \n//please add the above library references to your porject if they are not included yet.\n \nnamespace API\n{\n    public class RefreshCall\n    {\n        /// <summary>\n        /// this is an example to refresh applications via API call (c#)\n        /// </summary>\n        public static async Task<RootObject> Refresh()\n        {\n            RootObject result = null;\n \n            // credit sense api request url\n            string api_url = \"https://api.creditsense.com.au\";\n \n            // your credential information here\n            string api_key = \"XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX\";\n            string api_token = \"XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX\";\n \n            //api url and post body/parameters\n            string URL = api_url + \"/v2/\" + api_key + \"/refresh\";\n            string postBody = \"{\\\"Settings\\\" : {\\\"API_Token\\\":\\\"\" + api_token + \"\\\"},\\\"Payload\\\" : {\\\"Apps\\\" :[\";\n            postBody += \"{\\\"App_ID\\\":\\\"1234567\\\", \\\"New_App_Ref\\\":\\\"xxxxxxxxxx\\\", \\\"Is_Priority\\\":\\\"True\\\"},\";    // application to be refresh\n            postBody += \"{\\\"App_ID\\\":\\\"12345678\\\", \\\"New_App_Ref\\\":\\\"xxxxxxxxxx\\\", \\\"Is_Priority\\\":\\\"True\\\"}\";   // application to be refresh\n            postBody += \"]}}\";\n \n            HttpWebRequest apirptreq = (HttpWebRequest)WebRequest.Create(URL);\n            apirptreq.ContentType = \"application/json\";\n            apirptreq.Method = \"POST\";\n \n            byte[] postString = Encoding.UTF8.GetBytes(postBody);\n \n            apirptreq.ContentLength = postString.Length;\n            Stream jsonStream = apirptreq.GetRequestStream();\n \n            jsonStream.Write(postString, 0, postString.Length);\n            jsonStream.Close();\n \n            // get response\n            HttpWebResponse apirsp;\n            try\n            {\n                // http status with 200\n                apirsp = (HttpWebResponse)apirptreq.GetResponse();\n            }\n            catch (WebException ex)\n            {\n                apirsp = (HttpWebResponse)(ex.Response);\n            }\n \n            using (Stream jsonRspStream = apirsp.GetResponseStream())\n            {\n                string responseStr = null;\n \n                using (StreamReader reader = new StreamReader(jsonRspStream))\n                {\n                    \n                    responseStr = reader.ReadToEnd();\n \n                    var serializer = new DataContractJsonSerializer(typeof(RootObject));\n                    var ms = new MemoryStream(Encoding.UTF8.GetBytes(responseStr));\n                    //get the return json object if reaching this point\n                    var data = (RootObject)serializer.ReadObject(ms);\n \n                    // you can work throught the result here\n                    if (data != null && data.Response != null && data.Response.Count > 0 && data.Error_Response == null) {\n                        //refresh successfully\n                        System.Diagnostics.Debug.WriteLine(\"OK\");\n                    }else{\n                        // check applications with success status\n                        if (data != null && data.Response != null && data.Response.Count > 0) {\n                            foreach (AppSuccess app in data.Response)\n                            {\n                                //you can access application data here,\n                                System.Diagnostics.Debug.WriteLine(\"success:\"+app.App_ID);\n                            }\n                        }\n \n                        // check applications with error status\n                        if (data != null && data.Error_Response != null)\n                        {\n                            Console.Write(data.Error_Response.Error_Code);\n                            if (data.Error_Response.Apps != null && data.Error_Response.Apps.Count > 0)\n                            {\n                                foreach (AppFail app in data.Error_Response.Apps)\n                                {\n                                    //you can access fail application data here,\n                                    System.Diagnostics.Debug.WriteLine(\"fail:\" + app.App_ID);\n                                }\n                            }\n                        }\n \n                        // log the error on your end so that you have visibility\n                        System.Diagnostics.Debug.WriteLine(data);\n                    }\n                }\n            }\n \n            return result;\n        }\n \n        // the below classes are generate to match the api return json\n \n        /// <summary>\n        /// return resonse object\n        /// </summary>\n        public class AppSuccess\n        {\n            public int App_ID { get; set; }\n            public string App_Ref { get; set; }\n            public bool Is_Priority { get; set; }\n            public bool Is_New_App { get; set; }\n            public int Existing_App_ID { get; set; }\n        }\n \n        /// <summary>\n        /// return application object\n        /// </summary>\n        public class AppFail\n        {\n            public int App_ID { get; set; }\n            public int Error_Code { get; set; }\n            public string Error_Type { get; set; }\n            public string Error_Description { get; set; }\n        }\n \n        /// <summary>\n        /// return error resonse object\n        /// </summary>\n        public class ErrorResponse\n        {\n            public int Error_Code { get; set; }\n            public string Error_Type { get; set; }\n            public string Error_Description { get; set; }\n            public List<AppFail> Apps { get; set; }\n        }\n \n        /// <summary>\n        /// return json object - root level\n        /// </summary>\n        public class RootObject\n        {\n            public List<AppSuccess> Response { get; set; }\n            public ErrorResponse Error_Response { get; set; }\n        }\n    }\n \n \n \n}\n"
          },
          {
            "lang": "PHP",
            "source": "\n//This example PHP wrapper code will trigger a refresh.\n\npublic function OnRefresh(){\n    try {\n        // credit sense api request url\n        $apiUrl = 'https://api.creditsense.com.au';\n \n        // credit sense api details (replace with your details, listed at ...)\n        $apiKey = 'XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX';\n        $apiToken = 'XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX';\n \n        // set up the application details to be refreshed\n        $apps = array();\n \n        // first application information\n        $app1 = array('App_ID' => \"1234567\", 'New_App_Ref' => \"xxxxxxxxxxxx\", 'Is_Priority' => \"True\");\n        array_push($apps, $app1);\n \n        // repeat the first example to set up multiple applications if this is required\n        $app2 = array('App_ID' => \"12345678\");\n        array_push($apps, $app2);\n \n        // do the refresh api call to refresh the applications\n        $postFields = array(\n            'Settings' => array('API_Token' => $apiToken),\n            'Payload' => array('Apps' => $apps)\n        );\n \n        // curl action\n        $curl = curl_init($apiUrl . '/v2/' . $apiKey . '/refresh');\n        curl_setopt($curl, CURLOPT_POST, true);\n        curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);\n        curl_setopt($curl, CURLOPT_POSTFIELDS, json_encode($postFields));\n \n        $result = curl_exec($curl);\n        curl_close($curl);\n \n        $result = json_decode($result, true);\n        print_r($result);\n \n        // refresh successfully\n        if ($result && $result['Response'] && count($result['Response']) > 0 && !$result['Error_Response']) {\n            echo 'OK';\n        } else {\n \n            // check applications with success status\n            if ($result && $result['Response'] && count($result['Response']) > 0){\n                foreach ($result['Response'] as $app) {\n                    // retrieve details from the response\n                    $appId = $app[\"App_ID\"];\n                    $appRef = $app[\"App_Ref\"];\n                    $isPriority = $app[\"Is_Priority\"];\n                    $isNewApp = $app[\"Is_New_App\"];\n                    $existingAppId = $app[\"Existing_App_ID\"];\n \n                    echo \"done: \" . $appId . \"<br>\";\n                }\n            }\n \n            // check applications with error status\n            if ($result && $result['Error_Response']){\n                // retrieve details from the response\n                $errorCode = $result['Error_Response'][\"Error_Code\"];\n                $errorType = $result['Error_Response'][\"Error_Type\"];\n                $errorDescription = $result['Error_Response'][\"Error_Description\"];\n                echo \"error: \" . $errorCode . \"<br>\";\n \n                // get applications which is failed to refresh\n                if($result['Error_Response']['Apps'] && count($result['Error_Response']['Apps']) > 0){\n                    foreach ($result['Error_Response']['Apps'] as $app) {\n                        // retrieve details from the response\n                        $appId = $app[\"App_ID\"];\n \n                        echo \"failed: \" . $appId . \"<br>\";\n                    }\n                }\n \n            }\n \n            // log the error on your end so that you have visibility\n            $this->logFailedApiCall($result);\n \n        }\n \n    }catch(\\Exception $e){\n        // log the error on your end so that you have visibility\n        $this->logFailedRefresh($e);\n \n        echo $e->getMessage();\n    }\n}\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Settings": {
                    "type": "object",
                    "required": [
                      "API_Token"
                    ],
                    "properties": {
                      "API_Token": {
                        "type": "string",
                        "example": "c738346c-755d-4565-994c-5706ae69ee92",
                        "description": "The unique token that identifies your API access privileges."
                      },
                      "Raise_Error": {
                        "type": "string",
                        "description": "The error code you specify will be returned in the response. \nThis is used for testing purposes only.",
                        "enum": [
                          "207",
                          "207.1",
                          "207.2",
                          "207.3",
                          "207.4",
                          "207.5",
                          "207.7",
                          "207.9",
                          "207.10",
                          "207.11",
                          "207.12",
                          "207.13",
                          "207.14",
                          "400",
                          "400.1",
                          "400.2",
                          "401",
                          "401.1",
                          "401.2",
                          "401.3",
                          "403",
                          "422",
                          "422.1",
                          "422.2",
                          "429",
                          "500",
                          "501",
                          "503.1"
                        ]
                      }
                    }
                  },
                  "Payload": {
                    "type": "object",
                    "required": [
                      "Apps"
                    ],
                    "properties": {
                      "Apps": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "App_ID": {
                              "type": "integer",
                              "example": 1234567,
                              "description": "Our unique identifier for the application to be refreshed."
                            },
                            "New_App_Ref": {
                              "type": "string",
                              "example": "B123",
                              "description": "Your reference assigned to the new application. If not provided, your reference from the  original application will be used with \"\\_refresh\" appended to it."
                            },
                            "Is_priority": {
                              "type": "boolean",
                              "default": false,
                              "description": "If set to true, the refresh will be processed as a priority.\nEach Store has a limit of priority applications in the queue. By default, the Store queue limit is set to 10."
                            },
                            "Copy_Existing_Data": {
                              "type": "boolean",
                              "default": false,
                              "description": "If set to true, the existing application will be copied to the Refresh store *without* triggering an actual refresh (i.e. no new bank pull will occur). \nThis is usually only used in specific circumstances."
                            },
                            "No_Delivery": {
                              "type": "boolean",
                              "default": false,
                              "description": "If set to true, the configured delivery methods (e.g. email, webhook, etc.) on the store will be ignored for the refresh. \nThis can be useful if you intend to poll the `/app/search` endpoint to monitor the status of the application. \nThis is usually only used in specific circumstances and may be used in conjunction with `Copy_Existing_Data`."
                            }
                          },
                          "required": [
                            "App_ID"
                          ]
                        }
                      }
                    }
                  }
                },
                "required": [
                  "Settings",
                  "Payload"
                ]
              }
            }
          },
          "description": "### Raising errors during testing\nPass an error code from the below table into `$.Settings.Raise_Error` to see how your implementation handles different errors being returned in the response.\n\n| HTTP status codes | Error code | Error type            | Error description                                                                                                               |\n|-------------------|------------|-----------------------|---------------------------------------------------------------------------------------------------------------------------------|\n| 207               | 207        | Multi-Status          | The message body can contain a number of separate response codes, depending on how many sub-requests were made.                 |\n|                   | 207.1      | Invalid Post          | Invalid AppID.                                                                                                                  |\n|                   | 207.2      | Invalid Post          | Invalid provider.                                                                                                               |\n|                   | 207.3      | Invalid Post          | Cannot refresh an application that requires MFA.                                                                                |\n|                   | 207.4      | Invalid Post          | Unable to refresh as the application doesn't belong to the store with enabled refresh service.                                  |\n|                   | 207.5      | Data Error            | The customer is not authorised for a refresh, or the authority to refresh the customer has expired.                             |\n|                   | 207.7      | Data Error            | Failed to delete the customer authority as it has expired or revoked.                                                           |\n|                   | 207.9      | Data Error            | Failed to renew the authority as the application doesn't have any customer authority assigned.                                  |\n|                   | 207.10     | Data Error            | Unknown error.                                                                                                                  |\n|                   | 207.11     | Data Error            | Failed to refresh as the application can't call Yodlee v12 API.                                                                 |\n|                   | 207.12     | Data Error            | Failed to refresh as another refresh is in process.                                                                             |\n|                   | 207.13     | Data Error            | Failed to refresh as the customer bank account is in use by another refresh.                                                    |\n|                   | 207.14     | Data Error            | Failed to renew the authority as it has been revoked by the customer.                                                           |\n| 400               | 400        | Bad Request           | The server cannot or will not process the request due to an apparent client error.                                              |\n|                   | 400.1      | Bad Request           | The request could not be correctly parsed due to syntax error or missing the required data.                                     |\n|                   | 400.2      | Bad Request           | Empty post body.                                                                                                                |\n| 401               | 401        | Unauthorized          | Similar to 403 Forbidden, but specifically for use when authentication is required and has failed or has not yet been provided. |\n|                   | 401.1      | Unauthorized          | Invalid API key.                                                                                                                |\n|                   | 401.2      | Unauthorized          | Invalid API token.                                                                                                              |\n|                   | 401.3      | Unauthorized          | Invalid API key/token.                                                                                                          |\n| 403               | 403        | Forbidden             | Access denied.                                                                                                                  |\n| 422               | 422        | Unprocessable Entity  | The request was well-formed but was unable to be followed due to semantic errors.                                               |\n|                   | 422.1      | Unprocessable Entity  | No applications provided.                                                                                                       |\n|                   | 422.2      | Unprocessable Entity  | The raise error code is not found.                                                                                              |\n| 429               | 429        | Too Many Requests     | API calls exceed a maximum of calls per minute limit.                                                                           |\n| 500               | 500        | Internal server error | Internal server error.                                                                                                          |\n| 501               | 501        | Not Implemented       | Invalid command.                                                                                                                |\n| 503               | 503.1      | Service Unavailable   | Unable to service your request at this time. Please try again later.                                                            |"
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ]
      }
    },
    "/refresh/cancel": {
      "post": {
        "summary": "Cancel pending refreshes",
        "operationId": "post-refresh-cancel",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Response": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "App_ID": {
                            "type": "string",
                            "description": "Our unique identifier for the cancelled refresh application.",
                            "example": "1234567"
                          }
                        },
                        "required": [
                          "App_ID"
                        ]
                      }
                    }
                  },
                  "required": [
                    "Response"
                  ]
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Response": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "App_ID": {
                            "type": "integer",
                            "description": "Our unique identifier for the cancelled refresh application.",
                            "example": 2345678
                          }
                        },
                        "required": [
                          "App_ID"
                        ]
                      }
                    },
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description",
                        "Apps"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "integer",
                          "description": "The code that identifies the error.",
                          "example": 207
                        },
                        "Error_Type": {
                          "type": "string",
                          "example": "Multi-Status",
                          "description": "Denotes the type of error encountered."
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "The message body can contain a number of separate response codes, depending on how many sub-requests were made."
                        },
                        "Apps": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "App_ID": {
                                "type": "integer",
                                "example": 1234567,
                                "description": "Our unique identifier for the application this error relates to."
                              },
                              "Error_Code": {
                                "type": "number",
                                "example": 207.1,
                                "description": "The code that identifies the error."
                              },
                              "Error_Type": {
                                "type": "string",
                                "example": "Invalid Post",
                                "description": "Describes the type of error."
                              },
                              "Error_Description": {
                                "type": "string",
                                "example": "Invalid AppID.",
                                "description": "Describes the error."
                              }
                            },
                            "required": [
                              "App_ID",
                              "Error_Code",
                              "Error_Type",
                              "Error_Description"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "Response",
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 400
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Bad Request"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "The server cannot or will not process the request due to an apparent client error."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 401.1
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Unauthorized"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "Similar to 403 Forbidden, but specifically for use when authentication is required and has failed or has not yet been provided."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 403
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Forbidden"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "Access denied."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 422
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Unprocessable Entity"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "The request was well-formed but was unable to be followed due to semantic errors."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 429
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Too Many Requests"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "API calls exceed a maximum of calls per minute limit."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 500
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Internal Server Error"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "Internal server error."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 501
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Not Implemented"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "Invalid command."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 503
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Service Unavailable"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "Unable to service your request at this time. Please try again later."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          }
        },
        "description": "### Overview\nTrigger a cancellation on one or more refresh applications.\n\nReasons to use this endpoint:\n- Cancel any pending refreshes.\n\n### Requirements\nIn order to cancel a refresh on an application, the following requirements must be met:\n\n1. A valid App ID must be provided.",
        "tags": [
          "Refresh"
        ],
        "x-codeSamples": [
          {
            "lang": "C# (ASP.NET)",
            "source": "\n//This example ASP.NET wrapper code will cancel a refresh.\n\nusing System;\nusing System.Collections.Generic;\nusing System.IO;\nusing System.Net;\nusing System.Runtime.Serialization.Json;\nusing System.Text;\nusing System.Threading.Tasks;\n \n//please add the above library references to your porject if they are not included yet.\n \nnamespace API\n{\n    public class RefreshCall\n    {\n        /// <summary>\n        /// this is an example to cancel refresh applications via API call (c#)\n        /// </summary>\n        public static async Task<RootObject> CancelRefresh()\n        {\n            RootObject result = null;\n \n            // credit sense api request url\n            string api_url = \"https://api.creditsense.com.au\";\n \n            // your credential information here\n            string api_key = \"XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX\";\n            string api_token = \"XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX\";\n \n            //api url and post body/parameters\n            string URL = api_url + \"/v2/\" + api_key + \"/refresh/cancel\";\n            string postBody = \"{\\\"Settings\\\" : {\\\"API_Token\\\":\\\"\" + api_token + \"\\\"},\\\"Payload\\\" : {\\\"Apps\\\" :[\";\n            postBody += \"{\\\"App_ID\\\":\\\"1234567\\\"},\";    // application to be refresh\n            postBody += \"{\\\"App_ID\\\":\\\"12345678\\\"}\";   // application to be refresh\n            postBody += \"]}}\";\n \n            HttpWebRequest apirptreq = (HttpWebRequest)WebRequest.Create(URL);\n            apirptreq.ContentType = \"application/json\";\n            apirptreq.Method = \"POST\";\n \n            byte[] postString = Encoding.UTF8.GetBytes(postBody);\n \n            apirptreq.ContentLength = postString.Length;\n            Stream jsonStream = apirptreq.GetRequestStream();\n \n            jsonStream.Write(postString, 0, postString.Length);\n            jsonStream.Close();\n \n            // get response\n            HttpWebResponse apirsp;\n            try\n            {\n                // http status with 200\n                apirsp = (HttpWebResponse)apirptreq.GetResponse();\n            }\n            catch (WebException ex)\n            {\n                apirsp = (HttpWebResponse)(ex.Response);\n            }\n \n            using (Stream jsonRspStream = apirsp.GetResponseStream())\n            {\n                string responseStr = null;\n \n                using (StreamReader reader = new StreamReader(jsonRspStream))\n                {\n                    \n                    responseStr = reader.ReadToEnd();\n \n                    var serializer = new DataContractJsonSerializer(typeof(RootObject));\n                    var ms = new MemoryStream(Encoding.UTF8.GetBytes(responseStr));\n                    //get the return json object if reaching this point\n                    var data = (RootObject)serializer.ReadObject(ms);\n \n                    // you can work throught the result here\n                    if (data != null && data.Response != null && data.Response.Count > 0 && data.Error_Response == null) {\n                        //cancel refresh successfully\n                        System.Diagnostics.Debug.WriteLine(\"OK\");\n                    }else{\n                        // check applications with success status\n                        if (data != null && data.Response != null && data.Response.Count > 0) {\n                            foreach (AppSuccess app in data.Response)\n                            {\n                                //you can access application data here,\n                                System.Diagnostics.Debug.WriteLine(\"success:\"+app.App_ID);\n                            }\n                        }\n \n                        // check applications with error status\n                        if (data != null && data.Error_Response != null)\n                        {\n                            Console.Write(data.Error_Response.Error_Code);\n                            if (data.Error_Response.Apps != null && data.Error_Response.Apps.Count > 0)\n                            {\n                                foreach (AppFail app in data.Error_Response.Apps)\n                                {\n                                    //you can access fail application data here,\n                                    System.Diagnostics.Debug.WriteLine(\"fail:\" + app.App_ID);\n                                }\n                            }\n                        }\n \n                        // log the error on your end so that you have visibility\n                        System.Diagnostics.Debug.WriteLine(data);\n                    }\n                }\n            }\n \n            return result;\n        }\n \n        // the below classes are generate to match the api return json\n \n        /// <summary>\n        /// return resonse object\n        /// </summary>\n        public class AppSuccess\n        {\n            public int App_ID { get; set; }\n        }\n \n        /// <summary>\n        /// return application object\n        /// </summary>\n        public class AppFail\n        {\n            public int App_ID { get; set; }\n            public int Error_Code { get; set; }\n            public string Error_Type { get; set; }\n            public string Error_Description { get; set; }\n        }\n \n        /// <summary>\n        /// return error resonse object\n        /// </summary>\n        public class ErrorResponse\n        {\n            public int Error_Code { get; set; }\n            public string Error_Type { get; set; }\n            public string Error_Description { get; set; }\n            public List<AppFail> Apps { get; set; }\n        }\n \n        /// <summary>\n        /// return json object - root level\n        /// </summary>\n        public class RootObject\n        {\n            public List<AppSuccess> Response { get; set; }\n            public ErrorResponse Error_Response { get; set; }\n        }\n    }\n}\n"
          },
          {
            "lang": "PHP",
            "source": "\n//This example PHP wrapper code will cancel a refresh.\n\npublic function OnCancelRefresh(){\n    try {\n        // credit sense api request url\n        $apiUrl = 'https://api.creditsense.com.au';\n \n        // credit sense api details (replace with your details, listed at ...)\n        $apiKey = 'XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX';\n        $apiToken = 'XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX';\n \n        // set up the application details to be cancelled\n        $apps = array();\n \n        // first application information\n        $app1 = array('App_ID' => \"1234567\");\n        array_push($apps, $app1);\n \n        // repeat the first example to set up multiple applications if this is required\n        $app2 = array('App_ID' => \"12345678\");\n        array_push($apps, $app2);\n \n        // do the cancel refresh api call to cancel refreshing the applications\n        $postFields = array(\n            'Settings' => array('API_Token' => $apiToken),\n            'Payload' => array('Apps' => $apps)\n        );\n \n        // curl action\n        $curl = curl_init($apiUrl . '/v2/' . $apiKey . '/refresh/cancel');\n        curl_setopt($curl, CURLOPT_POST, true);\n        curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);\n        curl_setopt($curl, CURLOPT_POSTFIELDS, json_encode($postFields));\n \n        $result = curl_exec($curl);\n        curl_close($curl);\n \n        $result = json_decode($result, true);\n        print_r($result);\n \n        // cancel successfully\n        if ($result && $result['Response'] && count($result['Response']) > 0 && !$result['Error_Response']) {\n            echo 'OK';\n        } else {\n \n            // check applications with success status\n            if ($result && $result['Response'] && count($result['Response']) > 0){\n                foreach ($result['Response'] as $app) {\n                    // retrieve details from the response\n                    $appId = $app[\"App_ID\"];\n                    $appRef = $app[\"App_Ref\"];\n                    $isPriority = $app[\"Is_Priority\"];\n                    $isNewApp = $app[\"Is_New_App\"];\n                    $existingAppId = $app[\"Existing_App_ID\"];\n \n                    echo \"done: \" . $appId . \"<br>\";\n                }\n            }\n \n            // check applications with error status\n            if ($result && $result['Error_Response']){\n                // retrieve details from the response\n                $errorCode = $result['Error_Response'][\"Error_Code\"];\n                $errorType = $result['Error_Response'][\"Error_Type\"];\n                $errorDescription = $result['Error_Response'][\"Error_Description\"];\n                echo \"error: \" . $errorCode . \"<br>\";\n \n                // get applications which is failed to refresh\n                if($result['Error_Response']['Apps'] && count($result['Error_Response']['Apps']) > 0){\n                    foreach ($result['Error_Response']['Apps'] as $app) {\n                        // retrieve details from the response\n                        $appId = $app[\"App_ID\"];\n \n                        echo \"failed: \" . $appId . \"<br>\";\n                    }\n                }\n \n            }\n \n            // log the error on your end so that you have visibility\n            $this->logFailedApiCall($result);\n \n        }\n \n    }catch(\\Exception $e){\n        // log the error on your end so that you have visibility\n        $this->logFailedRefresh($e);\n \n        echo $e->getMessage();\n    }\n}\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Settings": {
                    "type": "object",
                    "required": [
                      "API_Token"
                    ],
                    "properties": {
                      "API_Token": {
                        "type": "string",
                        "example": "c738346c-755d-4565-994c-5706ae69ee92",
                        "description": "The unique token that identifies your API access privileges."
                      },
                      "Raise_Error": {
                        "type": "string",
                        "description": "The error code you specify will be returned in the response. \nThis is used for testing purposes only.",
                        "enum": [
                          "207",
                          "207.1",
                          "207.2",
                          "207.3",
                          "207.4",
                          "207.5",
                          "207.7",
                          "207.9",
                          "207.10",
                          "207.11",
                          "207.12",
                          "207.13",
                          "207.14",
                          "400",
                          "400.1",
                          "400.2",
                          "401",
                          "401.1",
                          "401.2",
                          "401.3",
                          "403",
                          "422",
                          "422.1",
                          "422.2",
                          "429",
                          "500",
                          "501",
                          "503.1"
                        ]
                      }
                    }
                  },
                  "Payload": {
                    "type": "object",
                    "required": [
                      "Apps"
                    ],
                    "properties": {
                      "Apps": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "App_ID": {
                              "type": "integer",
                              "description": "Our unique identifier for the application to cancel the refresh for.",
                              "example": 1234567
                            }
                          },
                          "required": [
                            "App_ID"
                          ]
                        }
                      }
                    }
                  }
                },
                "required": [
                  "Settings",
                  "Payload"
                ]
              }
            }
          },
          "description": "### Raising errors during testing\nPass an error code from the below table into `$.Settings.Raise_Error` to see how your implementation handles different errors being returned in the response.\n\n| HTTP status codes | Error code | Error type            | Error description                                                                                                               |\n|-------------------|------------|-----------------------|---------------------------------------------------------------------------------------------------------------------------------|\n| 207               | 207        | Multi-Status          | The message body can contain a number of separate response codes, depending on how many sub-requests were made.                 |\n|                   | 207.1      | Invalid Post          | Invalid AppID.                                                                                                                  |\n|                   | 207.2      | Invalid Post          | Invalid provider.                                                                                                               |\n|                   | 207.3      | Invalid Post          | Cannot refresh an application that requires MFA.                                                                                |\n|                   | 207.4      | Invalid Post          | Unable to refresh as the application doesn't belong to the store with enabled refresh service.                                  |\n|                   | 207.5      | Data Error            | The customer is not authorised for a refresh, or the authority to refresh the customer has expired.                             |\n|                   | 207.7      | Data Error            | Failed to delete the customer authority as it has expired or revoked.                                                           |\n|                   | 207.9      | Data Error            | Failed to renew the authority as the application doesn't have any customer authority assigned.                                  |\n|                   | 207.10     | Data Error            | Unknown error.                                                                                                                  |\n|                   | 207.11     | Data Error            | Failed to refresh as the application can't call Yodlee v12 API.                                                                 |\n|                   | 207.12     | Data Error            | Failed to refresh as another refresh is in process.                                                                             |\n|                   | 207.13     | Data Error            | Failed to refresh as the customer bank account is in use by another refresh.                                                    |\n|                   | 207.14     | Data Error            | Failed to renew the authority as it has been revoked by the customer.                                                           |\n| 400               | 400        | Bad Request           | The server cannot or will not process the request due to an apparent client error.                                              |\n|                   | 400.1      | Bad Request           | The request could not be correctly parsed due to syntax error or missing the required data.                                     |\n|                   | 400.2      | Bad Request           | Empty post body.                                                                                                                |\n| 401               | 401        | Unauthorized          | Similar to 403 Forbidden, but specifically for use when authentication is required and has failed or has not yet been provided. |\n|                   | 401.1      | Unauthorized          | Invalid API key.                                                                                                                |\n|                   | 401.2      | Unauthorized          | Invalid API token.                                                                                                              |\n|                   | 401.3      | Unauthorized          | Invalid API key/token.                                                                                                          |\n| 403               | 403        | Forbidden             | Access denied.                                                                                                                  |\n| 422               | 422        | Unprocessable Entity  | The request was well-formed but was unable to be followed due to semantic errors.                                               |\n|                   | 422.1      | Unprocessable Entity  | No applications provided.                                                                                                       |\n|                   | 422.2      | Unprocessable Entity  | The raise error code is not found.                                                                                              |\n| 429               | 429        | Too Many Requests     | API calls exceed a maximum of calls per minute limit.                                                                           |\n| 500               | 500        | Internal server error | Internal server error.                                                                                                          |\n| 501               | 501        | Not Implemented       | Invalid command.                                                                                                                |\n| 503               | 503.1      | Service Unavailable   | Unable to service your request at this time. Please try again later.                                                            |"
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "in": "header",
            "name": "Content-Type",
            "required": true
          }
        ]
      }
    },
    "/refresh/deleteAuthority": {
      "post": {
        "summary": "Revoke refresh authorities",
        "operationId": "post-refresh-deleteAuthority",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Response": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "App_ID": {
                            "type": "string",
                            "description": "Our unique identifier for the application that the refresh authority was deleted for.",
                            "example": "1234567"
                          }
                        },
                        "required": [
                          "App_ID"
                        ]
                      }
                    }
                  },
                  "required": [
                    "Response"
                  ]
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Response": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "App_ID": {
                            "type": "integer",
                            "description": "Our unique identifier for the application that the refresh authority was deleted for.",
                            "example": 2345678
                          }
                        },
                        "required": [
                          "App_ID"
                        ]
                      }
                    },
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description",
                        "Apps"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "integer",
                          "description": "The code that identifies the error.",
                          "example": 207
                        },
                        "Error_Type": {
                          "type": "string",
                          "example": "Multi-Status",
                          "description": "Denotes the type of error encountered."
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "The message body can contain a number of separate response codes, depending on how many sub-requests were made."
                        },
                        "Apps": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "App_ID": {
                                "type": "integer",
                                "example": 1234567,
                                "description": "Our unique identifier for the application this error relates to."
                              },
                              "Error_Code": {
                                "type": "number",
                                "example": 207.1,
                                "description": "The code that identifies the error."
                              },
                              "Error_Type": {
                                "type": "string",
                                "example": "Invalid Post",
                                "description": "Describes the type of error."
                              },
                              "Error_Description": {
                                "type": "string",
                                "example": "Invalid AppID.",
                                "description": "Describes the error."
                              }
                            },
                            "required": [
                              "App_ID",
                              "Error_Code",
                              "Error_Type",
                              "Error_Description"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "Response",
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 400
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Bad Request"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "The server cannot or will not process the request due to an apparent client error."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 401.1
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Unauthorized"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "Similar to 403 Forbidden, but specifically for use when authentication is required and has failed or has not yet been provided."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 403
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Forbidden"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "Access denied."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 422
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Unprocessable Entity"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "The request was well-formed but was unable to be followed due to semantic errors."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 429
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Too Many Requests"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "API calls exceed a maximum of calls per minute limit."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 500
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Internal Server Error"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "Internal server error."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 501
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Not Implemented"
                        },
                        "Error_Description": {
                          "type": "string",
                          "description": "Describes the error.",
                          "example": "Invalid command."
                        }
                      }
                    }
                  },
                  "required": [
                    "Error_Response"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error_Response": {
                      "type": "object",
                      "required": [
                        "Error_Code",
                        "Error_Type",
                        "Error_Description"
                      ],
                      "properties": {
                        "Error_Code": {
                          "type": "number",
                          "description": "The code that identifies the error.",
                          "example": 503
                        },
                        "Error_Type": {
                          "type": "string",
                          "description": "Denotes the type of error encountered.",
                          "example": "Service Unavailable"
                        },
[...]
